---
title: Comprar Bitcoin en Albania
seotitle: Comprar Bitcoin en Albania | Intercambios y Corredores
permalink: /es/al/
layout: country
lang: es
country: al
desc: Dónde y cómo comprar Bitcoin en Albania. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago. 
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'al' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}