---
title: Comprar Bitcoin en Austria
seotitle: Comprar Bitcoin en Austria | Sitios de Intercambio
permalink: /es/at/
layout: country
lang: es
country: at
desc: Comprar Bitcoin en Austria. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'at' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}