---
title: Comprar Bitcoin en Belice
seotitle: Comprar Bitcoin en Belice | Intercambios y Corredores
permalink: /es/bz/
layout: country
lang: es
country: bz
desc: Dónde y cómo comprar Bitcoin en Belice. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'bz' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}