---
title: Comprar Bitcoin en Brasil
seotitle: Comprar Bitcoin en Brasil | Sitios de Intercambio
permalink: /es/br/
layout: country
sitemap:
    priority: 0.7
lang: es
country: br
desc: Comprar Bitcoin en Brasil. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.
cn: Brasil
continent: sa
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'br' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}