---
title: Comprar Bitcoin en Canadá
seotitle: Comprar Bitcoin en Canadá | Sitios de Intercambio
permalink: /es/ca/
layout: country
lang: es
country: ca
desc: Comprar Bitcoin en Canadá. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ca' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}