---
title: Comprar Bitcoin en Canadá
seotitle: Comprar Bitcoin en Canadá | Intercambios y Corredores
permalink: /es/ca/
layout: country
lang: es
country: ca
desc: Dónde y cómo comprar Bitcoin en Canadá. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ca' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}