---
title: Comprar Bitcoin en Chile
seotitle: Comprar Bitcoin en Chile | Intercambios y Corredores
permalink: /es/cl/
layout: country
lang: es
country: cl
desc: Dónde y cómo comprar Bitcoin en Chile. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'cl' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}