---
title: Comprar Bitcoin en Colombia
seotitle: Comprar Bitcoin en Colombia | Sitios de Intercambio
permalink: /es/co/
layout: country
lang: es
sitemap:
    priority: 0.7
country: co
desc: Comprar Bitcoin en Colombia. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'co' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}