---
title: Comprar Bitcoin en Costa Rica
seotitle: Comprar Bitcoin en Costa Rica | Sitios de Intercambio
permalink: /es/cr/
layout: country
lang: es
country: cr
desc: Comprar Bitcoin en Costa Rica. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago. 
cn: Costa Rica
continent: ca
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'cr' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}