---
title: Comprar Bitcoin en Chipre
seotitle: Comprar Bitcoin en Chipre | Sitios de Intercambio
permalink: /es/cy/
layout: country
lang: es
country: cy
desc: Comprar Bitcoin en Chipre. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'cy' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}