---
title: Comprar Bitcoin en Chipre
seotitle: Comprar Bitcoin en Chipre | Intercambios y Corredores
permalink: /es/cy/
layout: country
lang: es
country: cy
desc: Dónde y cómo comprar Bitcoin en Chipre. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'cy' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}