---
title: Comprar Bitcoin en República Checa
seotitle: Comprar Bitcoin en República Checa | Intercambios y Corredores
permalink: /es/cz/
layout: country
lang: es
country: cz
desc: Dónde y cómo comprar Bitcoin en República Checa. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'cz' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}