---
title: Comprar Bitcoin en República Dominicana
seotitle: Comprar Bitcoin en República Dominicana
permalink: /es/do/
layout: country
lang: es
country: do
desc: Comprar Bitcoin en República Dominicana. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'do' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}