---
title: Comprar Bitcoin en El Salvador
seotitle: Comprar Bitcoin en El Salvador | Intercambios y Corredores
permalink: /es/sv/
layout: country
lang: es
country: sv
desc: Dónde y cómo comprar Bitcoin en El Salvador. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago. 
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'sv' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}