---
title: Comprar Bitcoin en Georgia
seotitle: Comprar Bitcoin en Georgia | Sitios de Intercambio
permalink: /es/ge/
layout: country
lang: es
country: ge
desc: Comprar Bitcoin en Georgia. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago. 
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ge' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}