---
title: Comprar Bitcoin en Georgia
seotitle: Comprar Bitcoin en Georgia | Intercambios y Corredores
permalink: /es/ge/
layout: country
lang: es
country: ge
desc: Dónde y cómo comprar Bitcoin en Georgia. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago. 
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ge' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}