---
title: Comprar Bitcoin en Alemania
seotitle: Comprar Bitcoin en Alemania | Sitios de Intercambio
permalink: /es/de/
layout: country
lang: es
country: de
desc: Comprar Bitcoin en Alemania. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'de' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}