---
title: Comprar Bitcoin en Honduras
seotitle: Comprar Bitcoin en Honduras | Intercambios y Corredores
permalink: /es/hn/
layout: country
lang: es
country: hn
desc: Dónde y cómo comprar Bitcoin en Honduras. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'hn' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}