---
title: Comprar Bitcoin en Irlanda
seotitle: Comprar Bitcoin en Irlanda | Sitios de Intercambio
permalink: /es/ie/
layout: country
lang: es
country: ie
desc: Comprar Bitcoin en Irlanda. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ie' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}