---
title: Comprar Bitcoin en Malta
seotitle: Comprar Bitcoin en Malta | Intercambios y Corredores
permalink: /es/mt/
layout: country
lang: es
country: mt
desc: Dónde y cómo comprar Bitcoin en Malta. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'mt' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}