---
title: Comprar Bitcoin en Malta
seotitle: Comprar Bitcoin en Malta | Sitios de Intercambio
permalink: /es/mt/
layout: country
lang: es
country: mt
desc: Comprar Bitcoin en Malta. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'mt' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}