---
title: Comprar Bitcoin en México
seotitle: Comprar Bitcoin en México | Intercambios y Corredores
permalink: /es/mx/
layout: country
lang: es
country: mx
desc: Dónde y cómo comprar Bitcoin en México. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'mx' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}