---
title: Comprar Bitcoin en Moldavia
seotitle: Comprar Bitcoin en Moldavia | Sitios de Intercambio
permalink: /es/md/
layout: country
lang: es
country: md
desc: Comprar Bitcoin en Moldavia. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'md' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}