---
title: Comprar Bitcoin en Nicaragua
seotitle: Comprar Bitcoin en Nicaragua | Sitios de Intercambio
permalink: /es/ni/
layout: country
lang: es
country: ni
desc: Comprar Bitcoin en Nicaragua. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ni' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}