---
title: Comprar Bitcoin en Perú
seotitle: Comprar Bitcoin en Perú | Sitios de Intercambio
permalink: /es/pe/
layout: country
sitemap:
    priority: 0.7
lang: es
country: pe
desc: Comprar Bitcoin en Perú. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'pe' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}