---
title: Comprar Bitcoin en Rumania
seotitle: Comprar Bitcoin en Rumania | Sitios de Intercambio
permalink: /es/ro/
layout: country
lang: es
country: ro
desc: Comprar Bitcoin en Rumania. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ro' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}