---
title: Comprar Bitcoin en Rumania
seotitle: Comprar Bitcoin en Rumania | Intercambios y Corredores
permalink: /es/ro/
layout: country
lang: es
country: ro
desc: Dónde y cómo comprar Bitcoin en Rumania. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ro' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}