---
title: Comprar Bitcoin en Serbia
seotitle: Comprar Bitcoin en Serbia | Sitios de Intercambio
permalink: /es/rs/
layout: country
lang: es
country: rs
desc: Comprar Bitcoin en Serbia. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'rs' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}