---
title: Comprar Bitcoin en Uruguay
seotitle: Comprar Bitcoin en Uruguay | Sitios de Intercambio
permalink: /es/uy/
layout: country
lang: es
country: uy
desc: Comprar Bitcoin en Uruguay. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago. 
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'uy' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}