---
title: Comprar Bitcoin en Estados Unidos 
seotitle: Comprar Bitcoin en Estados Unidos | Intercambios y Corredores
permalink: /es/us/
layout: country
lang: es
country: us
desc: Dónde y cómo comprar Bitcoin en Estados Unidos. Completo directorio de intercambios, corredores, y cajeros automáticos que aceptan un número de métodos de pago.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'us' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}