---
title: Comprar Bitcoin en Estados Unidos 
seotitle: Comprar Bitcoin en Estados Unidos | Sitios de Intercambio
permalink: /es/us/
layout: country
lang: es
country: us
desc: Comprar Bitcoin en Estados Unidos. Completo directorio de sitios de intercambio, corredores y cajeros automáticos que aceptan diferentes métodos de pago. 
cn: Estados Unidos 
continent: na  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'us' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}