---
layout: home
permalink: "/home/"
title: Home
sitemap:
  exclude: 'yes'
seotitle: Home
lang: en
desc: 
---
{% assign lang = site.data.translations[page.lang] %}

<h2 class="home-featured-header"><a href="#pop">{{ lang.buy }} {{ lang.in }} these Popular Countries</a></h2>
<h4 class="all-countries">View All Countires &#155;</h4>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.pop == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>