---
layout: home
permalink: "/"
title: Buy Bitcoin Worldwide. Any Country. Any Payment Method.
seotitle: Buy Bitcoin Worldwide. Any Country. Any Payment Method.
lang: en
desc: Buy Bitcoin Worldwide helps you buy Bitcoin in every country with your preferred payment method. It's easy to find Bitcoin exchanges, brokers, and dealers. 
home: yes
---
{% assign lang = site.data.translations[page.lang] %}

<div class="container-fluid home-mapimg">
<div class="map-title">Buy Bitcoin Worldwide</div>
<div class="map-desc"></div>
<a href="/coinfind/" class="call-to-buy">Find an exchange &#155;</a>
</div>

<div class="container home-featured"> 
	<div class="row">
		<div class="col-md-4">
			<img src="/img/icons/bitcoinworld.png">
			<h4><a href="/en/">Buy Bitcoin in your Country &#155;</a></h4>
			<div class="home-featured-desc">Use our country index, available in 13 languages, to find a country. Once on a country page you'll see a list of places to buy bitcoin in that country.</div>
		</div>
		<div class="col-md-4">
			<img src="/img/icons/coinfind.png">
			<h4><a href="/coinfind/">Find a Bitcoin Exchange &#155;</a></h4>
			<div class="home-featured-desc">CoinFind helps you narrow down companies and find the perfect place to buy bitcoin. Enter a country and payment method, get a list of matching companies.</div>
		</div>
		<div class="col-md-4">
			<img src="/img/icons/wallet.png">
			<h4><a href="/wallets/">Find a Bitcoin Wallet &#155;</a></h4>
			<div class="home-featured-desc">If you're buying bitcoins, you'll need a place to put them. Use our reviews to find a Bitcoin wallet that fits your needs.</div>
		</div>
	</div>
</div>

<h2 class="home-featured-header">Buy Bitcoin in these Popular Countries</h2>
<h4 class="all-countries"><a href="/en/">View All Countries &#155;</a></h4>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.pop == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2 class="home-featured-header">Buy Bitcoin with these Popular Payment Methods</h2>
<h4 class="all-countries"><a href="/en/payment-methods/">View All Payment Methods &#155;</a></h4>
<div class="container">
<div class="row">
<div class="pmethods-index">
{% for pmethod in site.data.paymentmethods %}
	<a class="col-md-4 col-sm-6" href="{{ pmethod.url }}">
	<i class="fa fa-4x fa-{{ pmethod.icon }}"></i>
	<div class="payment-method">{{ pmethod.pmethod }}</div>
	<div class="payment-method-desc">{{ pmethod.desc }}</div>
	</a>	
{% endfor %}	
</div>
</div>
</div>

</div>
<hr>