---
hide_sidebar: true
---

<h2>Buy Bitcoin in North America</h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.na == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2>Buy Bitcoin in Europe</h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.eu == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2>Buy Bitcoin in South America</h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.sa == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2>Buy Bitcoin in Central America</h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.ca == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2>Buy Bitcoin in the Middle East</h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.me == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2>Buy Bitcoin in Asia</h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.as == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2>Buy Bitcoin in Africa</h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.af == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
