---
title: Купете биткойн в България
seotitle: Купете биткойн в България | Борси, Брокери и Автомати
permalink: /bg/България/
layout: country
lang: bg
country: bg
desc: Научете как и къде можете да закупите биткойн в България. Пълен указател на борси, брокери и автомати приемащи различни начини за плащане.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'bg' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}