---
title: Купете биткойн в Унгария
seotitle: Купете биткойн в Унгария | Борси, Брокери и Автомати
permalink: /bg/Унгария/
layout: country
lang: bg
country: hu
desc: Научете как и къде можете да закупите биткойн в Унгария. Пълен указател на борси, брокери и автомати приемащи различни начини за плащане.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'hu' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}