---
title: Купете биткойн в Молдова
seotitle: Купете биткойн в Молдова | Борси, Брокери и Автомати
permalink: /bg/Молдова/
layout: country
lang: bg
country: md
desc: Научете как и къде можете да закупите биткойн в Молдова. Пълен указател на борси, брокери и автомати приемащи различни начини за плащане.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'md' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}