---
title: Купете биткойн в Румъния
seotitle: Купете биткойн в Румъния | Борси, Брокери и Автомати
permalink: /bg/Румъния/
layout: country
lang: bg
country: ro
desc: Научете как и къде можете да закупите биткойн в Румъния. Пълен указател на борси, брокери и автомати приемащи различни начини за плащане.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ro' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}