---
title: Купете биткойн в САЩ
seotitle: Купете биткойн в САЩ | Борси, Брокери и Автомати
permalink: /bg/Съединени-Американски-Щати/
layout: country
lang: bg
country: us
desc: Научете как и къде можете да закупите биткойн в Съединените Щати. Пълен указател на борси, брокери и автомати приемащи различни начини за плащане.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'us' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}