---
title: Bitcoin in Österreich kaufen
seotitle: Bitcoin in Österreich kaufen | Börsen, Broker und ATMs
permalink: /de/Österreich/
layout: country
lang: de
country: at
desc: Lernen wie und wo Sie Bitcoin in Österreich kaufen. Komplettes Verzeichnis von Börsen, Brokers, und ATMs, die eine Reihe von Zahlungsmethoden akzeptieren.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'at' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}