{% if page.pmethod == 'ccww' and page.lang == 'en' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ccww' and page.lang == 'fr' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_fr }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ccww' and page.lang == 'pt' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_ptbr }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ccww' and page.lang == 'ru' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_ru }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ccww' and page.lang == 'de' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_de }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ccww' and page.lang == 'es' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_es }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ach' and page.lang == 'en' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ach }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'neosurf' and page.lang == 'en' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_neosurf }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'paypal' and page.lang == 'en' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_paypal }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'cashdus' and page.lang == 'en' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_cdus }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'astropay' and page.lang == 'en' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_astropay }}</p>
		<a href="{{ name.url }}" rel="nofollow" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% endif %}