{% if page.lang == 'en' %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>
{% endif %}


{% if page.lang == 'es' and name.es == true %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_es }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_es }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>
{% endif %}

{% if page.lang == 'he' %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_he }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="hebrew">{{ name.desc_he }}</p>
		<a type="button" href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>
{% endif %}
