{% if page.pmethod == 'ccww' and name.internal_url and page.lang == 'en' and name.desc_ccww_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.internal_url }}" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }} <i class="fa fa-info-circle"></i></a> 
		<a type="button" href="{{ name.internal_url }}" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_short }}</p>
		<a href="{{ name.internal_url }}" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'en' and name.internal_url and page.pmethod != 'nobank' %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.internal_url }}" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }} <i class="fa fa-info-circle"></i></a> 
		<a type="button" target="_blank" href="{{ name.internal_url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc }}</p>
		<a href="{{ name.internal_url }}" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'nobank' and page.lang == 'en' %}
<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_nobank }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ccww' and page.lang == 'de' and name.desc_ccww_de_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_de_short }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ccww' and page.lang == 'en' and name.desc_ccww_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_short }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'skrill' and page.lang == 'en' and name.desc_skrill_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_skrill_short }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'neteller' and page.lang == 'en' and name.desc_neteller_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_neteller_short }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'neteller' and page.lang == 'en' and name.desc_neteller_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_neteller_short }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'babt' and page.lang == 'en' and name.desc_babt_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_babt_short }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'cash' and page.lang == 'en' and name.desc_cdus_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_cdus_short }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ccww' and page.lang == 'pt' and name.desc_ccww_ptbr_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_ptbr_short }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.pmethod == 'ccww' and page.lang == 'fr' and name.desc_ccww_fr_short != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ccww_fr_short }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'en' and page.pmethod == 'ach' %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_achshort }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'en' and page.pmethod == 'usbank' %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_usbankshort }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'es' and name.desc_es != null and name.name_es != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_es }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_es }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'es' and name.desc_es != null  and name.name_es == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_es }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'es' and name.desc_es == null %}

{% elsif page.lang == 'fr' and name.desc_fr != null and name.name_fr != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_fr }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_fr }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'fr' and name.desc_fr != null  and name.name_fr == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_fr }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'fr' and name.desc_fr == null %}

{% elsif page.lang == 'ar' and name.desc_ar != null and name.name_ar != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_ar }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-left large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ar }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'ar' and name.desc_ar != null  and name.name_ar == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-left large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ar }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'ar' and name.desc_ar == null %}

{% elsif page.lang == 'de' and name.desc_de != null and name.name_de != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_de }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_de }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'de' and name.desc_de != null  and name.name_de == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_de }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'de' and name.desc_de == null %}

{% elsif page.lang == 'zh' and name.desc_zh != null and name.name_zh != null %}
<div class="col-md-6 buy-info buy-info-zh">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_zh }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_zh }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'zh' and name.desc_zh != null  and name.name_zh == null %}
<div class="col-md-6 buy-info buy-info-zh">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_zh }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'zh' and name.desc_zh == null %}

{% elsif page.lang == 'ru' and name.desc_ru != null and name.name_ru != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_ru }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="ru">{{ name.desc_ru }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'ru' and name.desc_ru != null  and name.name_ru == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="ru">{{ name.desc_ru }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'ru' and name.desc_ru == null %}

{% elsif page.lang == 'uk' and name.desc_uk != null and name.name_uk != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_uk }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="uk">{{ name.desc_uk }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'uk' and name.desc_uk != null  and name.name_uk == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="uk">{{ name.desc_uk }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'uk' and name.desc_uk == null %}

{% elsif page.lang == 'bg' and name.desc_bg != null and name.name_bg != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_bg }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="bg">{{ name.desc_bg }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'bg' and name.desc_bg != null  and name.name_bg == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="bg">{{ name.desc_bg }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'bg' and name.desc_bg == null %}

{% elsif page.lang == 'el' and name.desc_el != null and name.name_el != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_el }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="greek">{{ name.desc_el }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'el' and name.desc_el != null  and name.name_el == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="greek">{{ name.desc_el }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'el' and name.desc_el == null %}

{% elsif page.lang == 'nl' and name.desc_nl != null and name.name_nl != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_nl }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_nl }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'nl' and name.desc_nl != null  and name.name_nl == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_nl }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'nl' and name.desc_nl == null %}

{% elsif page.lang == 'it' and name.desc_it != null and name.name_it != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_it }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_it }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'it' and name.desc_it != null  and name.name_it == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_it }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'it' and name.desc_it == null %}

{% elsif page.lang == 'pt' and name.desc_pt_br != null and name.name_pt_br != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_pt_br }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_pt_br }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'pt' and name.desc_pt_br != null  and name.name_pt_br == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_pt_br }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'pt' and name.desc_pt_br == null %}

{% elsif page.lang == 'he' and name.desc_he != null and name.name_he != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name_he }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-left large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_he }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'he' and name.desc_he != null  and name.name_he == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-left large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_he }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'he' and name.desc_it == null %}

{% elsif page.lang == 'en' %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% else %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}" rel="nofollow" target="_blank"><img src="{{ name.icon }}" alt="{{ name.name }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc }}</p>
		<a href="{{ name.url }}" rel="nofollow" target="_blank" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>
{% endif %}
