{% if page.lang == 'es' and name.desc_es != null and name.name_es != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_es }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_es }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'es' and name.desc_es != null  and name.name_es == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_es }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'es' and name.desc_es == null %}

{% elsif page.lang == 'fr' and name.desc_fr != null and name.name_fr != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_fr }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_fr }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'fr' and name.desc_fr != null  and name.name_fr == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_fr }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'fr' and name.desc_fr == null %}

{% elsif page.lang == 'ar' and name.desc_ar != null and name.name_ar != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_ar }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-left large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ar }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'ar' and name.desc_ar != null  and name.name_ar == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-left large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ar }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'ar' and name.desc_ar == null %}

{% elsif page.lang == 'de' and name.desc_de != null and name.name_de != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_de }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_de }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'de' and name.desc_de != null  and name.name_de == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_de }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'de' and name.desc_de == null %}

{% elsif page.lang == 'ru' and name.desc_ru != null and name.name_ru != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_ru }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ru }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'ru' and name.desc_ru != null  and name.name_ru == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_ru }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'ru' and name.desc_ru == null %}

{% elsif page.lang == 'uk' and name.desc_uk != null and name.name_uk != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_uk }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_uk }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'uk' and name.desc_uk != null  and name.name_uk == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_uk }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'uk' and name.desc_uk == null %}

{% elsif page.lang == 'bg' and name.desc_bg != null and name.name_bg != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_bg }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_bg }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'bg' and name.desc_bg != null  and name.name_bg == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_bg }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'bg' and name.desc_bg == null %}

{% elsif page.lang == 'el' and name.desc_el != null and name.name_el != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_el }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_el }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'el' and name.desc_el != null  and name.name_el == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_el }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'el' and name.desc_el == null %}

{% elsif page.lang == 'nl' and name.desc_nl != null and name.name_nl != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_nl }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_nl }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'nl' and name.desc_nl != null  and name.name_nl == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_nl }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'nl' and name.desc_nl == null %}

{% elsif page.lang == 'it' and name.desc_it != null and name.name_it != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_it }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_it }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'it' and name.desc_it != null  and name.name_it == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_it }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'it' and name.desc_it == null %}

{% elsif page.lang == 'pt' and name.desc_pt_br != null and name.name_pt_br != null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_pt_br }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_pt_br }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'pt' and name.desc_pt_br != null  and name.name_pt_br == null %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc_pt_br }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'pt' and name.desc_pt_br == null %}

{% elsif page.lang == 'he' %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name_he }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p class="hebrew">{{ name.desc_he }}</p>
		<a type="button" href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% elsif page.lang == 'en' %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>

{% else %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right large-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
		</h4>
		<p>{{ name.desc }}</p>
		<a href="{{ name.url }}" class="btn btn-success small-screen-buy">
		<i class="fa fa-bitcoin"></i> {{ lang.buy }}</a>
</div>
{% endif %}
