<div class="col-sm-12 buy-info-full">
		<h4>
		<a href="{{ exchange.permalink }}"><img src="/img/exchanges/{{ exchange.thumb }}" alt="{{ exchange.title }}">{{ exchange.title }}</a> 
		
		<a type="button" href="{{ exchange.website_url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy"><i class="fa fa-bitcoin"></i> Visit</a>
		<a type="button" href="{{ exchange.permalink }}" class="btn learn-more-button btn-primary pull-right large-screen-buy"><i class="fa fa-info"></i> Full Review</a>
		</h4>
		<p>{{ exchange.summarylong }}</p>
		<a href="{{ exchange.website_url }}" rel="nofollow" class="btn btn-success small-screen-buy"><i class="fa fa-bitcoin"></i> Visit {{ exchange.title }}</a>
		<a href="{{ exchange.permalink }}" class="btn btn-primary small-screen-buy"><i class="fa fa-info"></i> Full Review</a>

</div>