{% if page.lang != 'en' %}
<div class="footer-main container">
	 <div class="row bottom-footer">
	 	<div class="col-sm-12 col-md-6 left">
	 		<img src="https://www.buybitcoinworldwide.com/img/icons/logowhitebg.png">
		 	 <h4><a href="{{ lang.home_url }}">{{ lang.site_title }}</a></h4>
		</div>
		<div class="col-sm-12 col-md-6 right">
			{% if page.lang == 'en' %}
			<a href="https://twitter.com/buybitcoinww" class="footer-link"><i class="fa fa-fw fa-twitter"></i>Twitter</a>
			{% endif %}
			<a href="{{ lang.contact_url }}" class="footer-link"><i class="fa fa-fw fa-envelope-o"></i>{{ lang.contact }}</a>
			<a href="{{ lang.disclaimer_url }}" class="footer-link"><i class="fa fa-fw fa-info-circle"></i>{{ lang.disclaimer }}</a>
		</div>
	 </div>
</div>

{% else %}
<div class="footer-main footer-english container"> 
	 <div class="row">
        <div class="col-xs-12 col-sm-3">    
        	<div class="footer-menu-title">Links</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="/find-exchange/">Find Exchange</a></li>
	        		<li><a href="/kb/">Knowledge Base</a></li>
	        		<li><a href="/exchanges/">Exchange Reviews</a></li>
	        		<li><a href="/en/">Country Index</a></li>
	        	</ul>    	
        </div>
        <div class="col-xs-12 col-sm-3">    
        	<div class="footer-menu-title">Help</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="/kb/what-is-bitcoin/">What is Bitcoin?</a></li>
	        		<li><a href="/kb/how-to-buy-bitcoin/">How to Buy Bitcoin</a></li>
	        	    <li><a href="/kb/how-to-store-and-protect-bitcoins/">Storing Bitcoins</a></li>
	        		<li><a href="/kb/">Learn More</a></li>
	        	</ul>   
        </div>
        <div class="col-xs-12 col-sm-3">    
        	<div class="footer-menu-title">Site</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="/about/">About Us</a></li>
	        		<li><a href="/en/disclaimer/">Disclaimer</a></li>
	        		<li><a href="/privacy-policy/">Privacy Policy</a></li>
	        		<li><a href="https://github.com/BuyBitcoinWorldwide/buybitcoinworldwide.github.io" rel="nofollow">Contribute</a></li>
	        	</ul>    	
        </div>
        <div class="col-xs-12 col-sm-3">    
        	<div class="footer-menu-title">Connect</div>
	        	<ul class="footer-menu-list">
	        		<li><a href="/en/contact/">Contact Us</a></li>
	        		<li><a href="http://twitter.com/buybitcoinww/" rel="nofollow">Twitter</a></li>
	        		<li><a href="https://www.facebook.com/BuyBitcoinWorldwide" rel="nofollow">Facebook</a></li>
	        		<li><a href="https://github.com/BuyBitcoinWorldwide/buybitcoinworldwide.github.io" rel="nofollow">GitHub</a></li>
	        	</ul>   
        </div>
        <div class="row bottom-footer">
	 	<div class="col-xs-12 centered"><h4><a href="/en/"> <img src="https://www.buybitcoinworldwide.com/img/icons/logowhitebg.png"> Buy Bitcoin Worldwide</a></h4> </div>
	 </div>
    </div>
	 
	 
	 
</div>
{% endif %}