<div class="footer-main container">
	 <div class="row">
	 	<div class="col-sm-6 footer-left">
		 	
	 	</div>
	 	<div class="col-sm-6 footer-right">
	 		<a class="wallet-nav" href="https://nothirdparty.com/wallets/">{{ lang.get_wallet }}</a>
		 	<a class="wallet-nav" href="https://jordantuwiner.com/">{{ lang.by_jordan }}</a>
		 	<a class="wallet-nav" href="{{ lang.contact_url }}">{{ lang.contact }}</a>
		 	<a class="wallet-nav" href="{{ lang.disclaimer_url }}">{{ lang.disclaimer }}</a>
	 	</div>
	 </div>
</div>