<div class="footer-main container">
	<!--
	 <div class="row">
	 	 <div class="col-xs-6 col-sm-3 link-section"> 
		 	<h5>Help</h5>
		 	<a href="https://nothirdparty.com/wallets/">{{ lang.get_wallet }}</a>
		 	<a href="https://www.buybitcoinworldwide.com/en/help/">Guides & Articles</a>
		 	<a href="https://www.buybitcoinworldwide.com/en/faq/">FAQ</a>
		 	<a href="{{ lang.contact_url }}">{{ lang.contact }}</a>
		 </div>
		 <div class="col-xs-6 col-sm-3 link-section"> 
		 	<h5>Countries</h5>
			 <a href="https://www.buybitcoinworldwide.com/en/us/">United States</a>
			 <a href="https://www.buybitcoinworldwide.com/en/ca/">Canada</a>
			 <a href="https://www.buybitcoinworldwide.com/en/de/">Germany</a>
			 <a href="https://www.buybitcoinworldwide.com/en/uk/">United Kingdom</a>
		 </div>
		 <div class="col-xs-6 col-sm-3 link-section"> 
		 	<h5>Payment Methods</h5>
		 	<a href="https://www.buybitcoinworldwide.com/en/buy-bitcoin-sepa-transfer/">SEPA Transfer</a>
		 	<a href="https://www.buybitcoinworldwide.com/en/buy-bitcoin-debit-credit-card-united-states/">Credit Card</a>
		 	<a href="https://www.buybitcoinworldwide.com/en/buy-bitcoin-ach-bank-transfer-united-states/">ACH Bank Transfer</a>
		 	<a href="https://www.buybitcoinworldwide.com/en/buy-bitcoin-cash-deposit-united-states/">Cash Deposit</a>
		 </div>
		 <div class="col-xs-6 col-sm-3 link-section">
		 </div>
	 </div> -->
	 <div class="row bottom-footer">
	 	<div class="col-sm-12 col-md-6 left">
	 		<img src="https://www.buybitcoinworldwide.com/img/icons/bbww.png">
		 	 <h4><a href="{{ lang.home_url }}">{{ lang.site_title }}</a></h4>
		</div>
		<div class="col-sm-12 col-md-6 right">
			<a href="{{ lang.disclaimer_url }}">{{ lang.disclaimer }}</a>
		</div>
	 </div>
</div>