<div class="continent col-md-3 col-sm-4">
  	<div class="country-link {% if page.lang == 'ar' %}arabic-country-link{% endif %}">
  		
  		{% if page.lang == 'ru' and country.url_ru == true %}
	  	<a href="/{{ page.lang }}/{{ country.url_ru_c }}/" class="black-link">
	  	{% elsif page.lang == 'ru'  %}
	  	<a href="/{{ page.lang }}/{{ country.country_ru }}/" class="black-link">
	  	{% elsif page.lang == 'uk' and country.url_uk == true %}
	  	<a href="/{{ page.lang }}/{{ country.url_uk_c }}/" class="black-link">
	  	{% elsif page.lang == 'uk'  %}
	  	<a href="/{{ page.lang }}/{{ country.country_uk }}/" class="black-link">
	  	{% elsif page.lang == 'ar' and country.url_ar == true %}
	  	<a href="/{{ page.lang }}/{{ country.url_ar_c }}/" class="black-link">
	  	{% elsif page.lang == 'ar'  %}
	  	<a href="/{{ page.lang }}/{{ country.country_ar }}/" class="black-link">
	  	{% elsif page.lang == 'el' and country.url_el == true %}
	  	<a href="/{{ page.lang }}/{{ country.url_el_c }}/" class="black-link">
	  	{% elsif page.lang == 'el'  %}
	  	<a href="/{{ page.lang }}/{{ country.country_el }}/" class="black-link">
	  	{% elsif page.lang == 'pt'  %}
	  	<a href="/pt-br/{{ country.url_pt_br_c }}/" class="black-link">
	  	{% elsif page.lang == 'de' and country.url_de == true %}
	  	<a href="/{{ page.lang }}/{{ country.url_de_c }}/" class="black-link">
	  	{% elsif page.lang == 'de'  %}
	  	<a href="/{{ page.lang }}/{{ country.country_de }}/" class="black-link">
	  	{% elsif page.lang == 'bg' and country.url_bg == true %}
	  	<a href="/{{ page.lang }}/{{ country.url_bg_c }}/" class="black-link">
	  	{% elsif page.lang == 'bg'  %}
	  	<a href="/{{ page.lang }}/{{ country.country_bg }}/" class="black-link">
	  	{% elsif page.lang == 'zh'  %}
	  	<a href="/{{ page.lang }}/{{ country.country_zh }}/" class="black-link">
	  	{% elsif page.lang == 'it'  %}
	  	<a href="/{{ page.lang }}/{{ country.url_it_c }}/" class="black-link">
	  	{% else %}
	  	<a href="/{{ page.lang }}/{{ country.short }}/" class="black-link">
	  	{% endif %}
		  	<span class="flag-icon flag-icon-squared flag-icon-{{ country.short }}"></span>
		  	
		  	
		  	{% if page.lang == 'es' %}
		  	<div class="country-name">{{ country.country_es }}</div>
		  	{% elsif page.lang == 'ar'  %}
		  	<div class="country-name">{{ country.country_ar }}</div>
		  	{% elsif page.lang == 'ru'  %}
		  	<div class="country-name">{{ country.country_ru }}</div>
		  	{% elsif page.lang == 'uk'  %}
		  	<div class="country-name">{{ country.country_uk }}</div>
		  	{% elsif page.lang == 'pt'  %}
		  	<div class="country-name">{{ country.country_pt_br }}</div>
		  	{% elsif page.lang == 'he'  %}
		  	<div class="country-name">{{ country.country_he }}</div>
		  	{% elsif page.lang == 'nl'  %}
		  	<div class="country-name">{{ country.country_nl }}</div>
		  	{% elsif page.lang == 'de'  %}
		  	<div class="country-name">{{ country.country_de }}</div>
		  	{% elsif page.lang == 'fr'  %}
		  	<div class="country-name">{{ country.country_fr }}</div>
		  	{% elsif page.lang == 'it'  %}
		  	<div class="country-name">{{ country.country_it }}</div>
		  	{% elsif page.lang == 'el'  %}
		  	<div class="country-name">{{ country.country_el }}</div>
		  	{% elsif page.lang == 'zh'  %}
		  	<div class="country-name">{{ country.country_zh }}</div>
		  	{% elsif page.lang == 'bg'  %}
		  	<div class="country-name">{{ country.country_bg }}</div>
		  	{% else %}
		  	<div class="country-name">{{ country.country }}</div>
		  	{% endif %}
		  	
	  	</a>
  	</div>
</div>