<div class="continent col-md-3 col-sm-4">
  	<div class="country-link">
	  	<a href="/{{ page.lang }}/{{ country.short }}/" class="black-link">
		  	<span class="flag-icon flag-icon-squared flag-icon-{{ country.short }}"></span>
		  	{% if page.lang == 'en' %}
		  	<div class="country-name">{{ country.country }}</div>
		  	{% endif %}
		  	{% if page.lang == 'es' %}
		  	<div class="country-name">{{ country.country_es }}</div>
		  	{% endif %}
		  	{% if page.lang == 'he' %}
		  	<div class="country-name">{{ country.country_he }}</div>
		  	{% endif %}
	  	</a>
  	</div>
</div>