<li>
<a class="wallet-nav" href="https://nothirdparty.com/"><i class="fa fa-fw fa-btc"></i>{{ lang.get_wallet }}</a>
</li>
<li>
<a class="contribute-nav" href="https://github.com/BuyBitcoinWorldwide/buybitcoinworldwide.github.io"><i class="fa fa-fw fa-pencil-square-o"></i> {{ lang.contribute }}</a>
</li>
<!-- {% for name in site.data.en.nav %}
<li class="featured-exchanges">
	<a class="exchange-box {{ exchange.exchange }}" href="{{ name.url }}">
		<h4>{{ name.name }}</h4>
		<p>{{ name.desc }}</p>
	</a>
</li>
{% endfor %} -->