{% if site.data.theme.color == "default" %}
    <div class="navbar navbar-default navbar-static-top">
  {% else %}
    <div class="navbar navbar-inverse navbar-static-top">
  {% endif %}
      <div class="container nav-container">
        <div class="navbar-header">
          <div class="navbar-toggle-wrapper visible-xs">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <a href="{{ "/" | prepend:site.baseurl }}" class="navbar-brand">{{ lang.site_title }}</a>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul class="navbar-nav nav" data-purplecoat="shiori" data-purplecoat-label="nav.html">
            {% include nav.html %}
            {% include nav-right.html %}
          </ul> 
        </div>
      </div>
    </div>