<h3>Buy Bitcoin with...</h3>

  <div class="pmethods-sidebar">

		{% for pmethod in site.data.paymentmethods %}
		  <a href="{{ pmethod.url }}">
		    <i class="fa fa-fw fa-{{ pmethod.icon }}"></i>
		    <div class="payment-method">{{ pmethod.pmethod }}</div>
		  </a>	
		{% endfor %}
  </div>
  
  <div class="guides-exchange guides-exchange-pm">
<h3>Guides</h3>
<ul>
	{% for article in site.data.guidessidebar %}
		<li>
			<a class="guide-link" href="{{ article.url }}">{{ article.title }}</a>	
		</li>
	{% endfor %}
</ul>
</div>