<h3>Recent Posts</h3>
  <div class="pmethods-sidebar">
	<ul>
	{% for album in site.posts %}
	<li><i class="fa fa-file-o"></i> <a href="{{ album.url | prepend: site.baseurl }}">{{ album.title }}</a></li>
	{% endfor %}
	</ul>

  </div>
  
<h3 class="not-first">Secure your Bitcoins!</h3>
	<div class="pmethods-sidebar-1">
		 <div class="wallets-centered">
             {% assign pages = site.wallets | sort:"weight"  %}
             {% for album in pages %}
			{% if album.cat contains 'hardware' %}
                <a class="wallet-index-wrap" href="{{ album.url | prepend: site.baseurl }}">
                <img class="wallet-image-index {{ album.wallet }}" src="{{ "/img/wallets/" | prepend: site.baseurl }}{{ album.thumb }}">
                <h3 class="ctitle">{{ album.title }}</h3>               
                </a>
                {% endif %}
            {% endfor %}
			  </div>

</div>

  