{% if page.lang == 'en' %}
<h3>Buy Bitcoin with...</h3>

  <div class="pmethods-sidebar">

		{% for pmethod in site.data.paymentmethods %}
		  <a href="{{ pmethod.url }}">
		    <i class="fa fa-fw fa-{{ pmethod.icon }}"></i>
		    <div class="payment-method">{{ pmethod.pmethod }}</div>
		  </a>	
		{% endfor %}
  </div>
  
<h3>Need Help?</h3>

  <div class="pmethods-sidebar">
		  <a class="ask-button" href="http://ask.buybitcoinworldwide.com/">
			  Get Your Bitcoin Questions Answered Now!
		  </a>	
  </div>  
  
<h3 class="not-first">Secure your Bitcoins!</h3>
	<div class="pmethods-sidebar-1">
		 <div class="wallets-centered">
             {% assign pages = site.wallets | sort:"weight"  %}
             {% for album in pages %}
			{% if album.cat contains 'hardware' %}
                <a class="wallet-index-wrap" href="{{ album.url | prepend: site.baseurl }}">
                <div class="img-wrap-wallet">
                	<img class="wallet-image-index {{ album.wallet }}" src="/img/hwpics/{{ album.pic }}">
                </div>
                <h3 class="ctitle">{{ album.title }}</h3>               
                </a>
                {% endif %}
            {% endfor %}
			  </div>

</div>

<div class="guides-exchange guides-exchange-pm">
<h3>Guides</h3>
<ul>
	{% for article in site.data.guidessidebar %}
		<li>
			<a class="guide-link" href="{{ article.url }}">{{ article.title }}</a>	
		</li>
	{% endfor %}
</ul>
</div>
{% endif %}

{% if page.lang == 'es' %}
<h3>Comprar Bitcoins</h3>
  <div class="pmethods-sidebar">
	{% for pmethod in site.data.paymentmethods_es %}
		<a href="{{ pmethod.url }}">
		<i class="fa fa-fw fa-{{ pmethod.icon }}"></i>
	     <div class="payment-method">{{ pmethod.pmethod }}</div>
	    </a>	
	{% endfor %}
  </div>

<br>
<h3>Comprar Bitcoin en Europa</h3>
{% assign countries = (site.pages | sort: 'cn') %}
{% for country in countries %}
{% if country.continent == 'eu' and country.lang == 'es' %}
{% include country-sidebar.html %}
{% endif %}
{% endfor %} 

<br>
<h3>Comprar Bitcoin en América del Norte</h3>
{% assign countries = (site.pages | sort: 'cn') %}
{% for country in countries %}
{% if country.continent == 'na' and country.lang == 'es' %}
{% include country-sidebar.html %}
{% endif %}
{% endfor %} 

<br>
<h3>Comprar Bitcoin en América del Sur</h3>
{% assign countries = (site.pages | sort: 'cn') %}
{% for country in countries %}
{% if country.continent == 'sa' and country.lang == 'es' %}
{% include country-sidebar.html %}
{% endif %}
{% endfor %}  

<br>
<h3>Comprar Bitcoin en América Central</h3>
{% assign countries = (site.pages | sort: 'cn') %}
{% for country in countries %}
{% if country.continent == 'ca' and country.lang == 'es' %}
{% include country-sidebar.html %}
{% endif %}
{% endfor %}  
  
{% endif %}

{% if page.lang == 'pt' %}
<h3>Compre Bitcoins</h3>
  <div class="pmethods-sidebar">
	{% for pmethod in site.data.paymentmethods_pt %}
		<a href="{{ pmethod.url }}">
		<i class="fa fa-fw fa-{{ pmethod.icon }}"></i>
	     <div class="payment-method">{{ pmethod.pmethod }}</div>
	    </a>	
	{% endfor %}
  </div>
<br>
<h3>Países</h3>
{% assign countries = (site.pages | sort: 'cn') %}
{% for country in countries %}
{% if country.lang == 'pt' %}
{% include country-sidebar.html %}
{% endif %}
{% endfor %}  
  
  
{% endif %}