<h3>Recent Posts</h3>
  <div class="pmethods-sidebar">
	<ul>
	{% for album in site.posts %}
	<li><i class="fa fa-file-o"></i> <a href="{{ album.url | prepend: site.baseurl }}">{{ album.title }}</a></li>
	{% endfor %}
	</ul>

  </div>
  <!--
<h3 class="not-first">Restoring Backups</h3>
	<div class="pmethods-sidebar-1">
		<ul>
		{% for album in site.kb %}
		{% if album.categories contains "restore" %}
		<li><i class="fa fa-file-o"></i> <a href="{{ album.url | prepend: site.baseurl }}">{{ album.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

</div>

   -->