{% if page.categories contains "wallets" %}
<h3>Using Hardware Wallets</h3>
  <div class="pmethods-sidebar">
	<ul>
	{% for album in site.kb %}
	{% if album.categories contains "usinghws" %}
	<li><i class="fa fa-file-o"></i> <a href="{{ album.url | prepend: site.baseurl }}">{{ album.title }}</a></li>
	{% endif %}
	{% endfor %}
	</ul>

  </div>
  
<h3 class="not-first">Restoring Backups</h3>
	<div class="pmethods-sidebar-1">
		<ul>
		{% for album in site.kb %}
		{% if album.categories contains "restore" %}
		<li><i class="fa fa-file-o"></i> <a href="{{ album.url | prepend: site.baseurl }}">{{ album.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

</div>

{% else %}

<h3>Popular KB Articles</h3>

  <div class="pmethods-sidebar">
	<ul>
	{% for album in site.kb %}
	{% if album.categories contains "pop" %}
	<li><i class="fa fa-file-o"></i> <a href="{{ album.url | prepend: site.baseurl }}">{{ album.title }}</a></li>
	{% endif %}
	{% endfor %}
	</ul>

  </div>

<h3 class="not-first">Buying Bitcoin</h3>
	<div class="pmethods-sidebar-1">
		<ul>
		{% for album in site.kb %}
		{% if album.categories contains "buyingbitcoin" %}
		<li><i class="fa fa-file-o"></i> <a href="{{ album.url | prepend: site.baseurl }}">{{ album.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

</div>

<h3 class="not-first">FAQ</h3>
	<div class="pmethods-sidebar-1">
		<ul>
		{% for album in site.kb %}
		{% if album.categories contains "faq" %}
		<li><i class="fa fa-file-o"></i> <a href="{{ album.url | prepend: site.baseurl }}">{{ album.title }}</a></li>
		{% endif %}
		{% endfor %}
		</ul>

</div>

{% endif %}
   