<div class="col-sm-12 buy-info-full wallet-list">
		<h4>
		{% if wallet.tags contains 'hardware' %}
		<a href="{{ wallet.permalink }}">
		{% else %} 
		<a href="{{ wallet.website_url }}" target="_blank">
		{% endif %}
		<img src="/img/wallets/{{ wallet.thumb }}" alt="{{ wallet.name }}">{{ wallet.title }}
		</a>
		
{% if wallet.tags contains 'hardware' %}
		<a type="button" target="_blank" href="{{ wallet.buy_url }}" rel="nofollow" class="btn btn-success pull-right large-screen-buy"><i class="fa fa-shopping-cart "></i> Buy</a>
		<a type="button" href="{{ wallet.permalink }}" class="btn learn-more-button btn-primary pull-right large-screen-buy"><i class="fa fa-info"></i> Learn More</a>
		</h4>
		<p>{{ wallet.summary }}</p>
		<a href="{{ wallet.buy_url }}" target="_blank" rel="nofollow" class="btn btn-success small-screen-buy"><i class="fa fa-shopping-cart"></i> Buy</a>
		<a href="{{ wallet.permalink }}" class="btn btn-primary small-screen-buy"><i class="fa fa-info"></i> Learn More</a>
		
{% elsif page.lang == 'en' %}
		</h4>
		<p>{{ wallet.summary }}</p>
{% else %}

{% endif %}
</div>