// Add your own custom CSS here.
@import "pygments-tomorrow";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

.featured-exchanges .exchange-box {
    color: #ffffff;
}

.featured-exchanges .exchange-box:hover {
    text-decoration: none;
}

.featured-exchanges .coinbase {
	margin-left: 10px;
}

.featured-exchanges h4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.featured-exchanges p {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
}

@media (max-width: 991px) { 
	.buy-info {
    margin: 15px 0;
}

.bottom-footer .right, .bottom-footer .left {
    text-align: center !important;
}

.bottom-footer .left {
    margin-bottom: 20px !important;
}


}

@media (min-width: 992px) { 
	.buy-info {
	margin: 8px 0.7% !important;
    width: 48.6% !important;
    }
}

@media (min-width: 767px) { 
	.footer-right {
		text-align: right;
	}
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: grayscale;
    font-weight: 400;
}

html, body {
  overflow-x: hidden !important;
}

.navbar-brand {
    line-height: 39px;
    padding: 9.5px 15px;
}

.buy-info {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buy-info p {
    line-height: 1.5;
    margin: 16px 0 14px;
    font-size: 16px;
}

.buy-info .hebrew {
    direction: rtl;
}

.buy-info h4 {
    font-size: 19px;
}

.buy-info img {
    float: left;
    height: 33px;
    margin: -4px 10px 0 0;
    width: auto;
    border-radius: 3px;
}

.buy-info .btn {
    font-size: 14px;
    padding: 1px 9px;
    font-weight: bold;
    display: inline-block;
    margin-top: -3px;
}

.navbar-header {
    text-align: center;
}

.continent {
	margin: 16px 0px;
}

.country-link {
    display: inline-block;
}

.country-link .country-name {
    margin: 2px 0 0 40px;
}


.continent .country-link a {
	text-transform: none;
	font-weight: normal;
}

.continent .flag-icon {
	font-size: 30px;
	position: absolute;
}

.country-single-index {
	text-align: center;
}

.country-single-index .flag-icon {
	margin-right: 10px;
}

.country-single-index a {
	color: #555;
}

.country-single-index a:hover {
	color: #5b7fa4;
}

.index-continent-menu {
    list-style: outside none none;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
}

.index-continent-menu li {
    display: inline-block;
    margin: 5px 5px 0;
}

@media (max-width: 767px) { 
.index-continent-menu li {
    margin: 7px 5px !important;
}
.navbar-nav {
    float: left !important;
}
.footer-right {
		margin: 15px 0 0;
	}
}

.well-home {
	text-align: center;
}

.well-message {
	font-weight: bold;
}

.home-header a {
	color: #555;
}

.buy-info i {
	margin-top: -1px;
}

.black-link {
	color: #555;
}

.black-link:hover {
	color: #555;
}

@media (max-width: 497px) { 
.large-screen-buy {
	display: none !important;
}
.small-screen-buy {
	margin-bottom: 10px;
	width: 100%;
}
.navbar-brand {
    background-image: none !important;
    }
}

@media (min-width: 498px) { 
.small-screen-buy {
	display: none !important;
    margin-top: 0 !important;
}
}

.navbar-brand {
    background-image: url("https://raw.githubusercontent.com/BuyBitcoinWorldwide/buybitcoinworldwide.github.io/master/img/icons/logo.png");
    background-position: 5% 58%;
    background-repeat: no-repeat;
    background-size: 35px auto;
    padding: 9.5px 15px 9.5px 60px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
	color: #e6e6e6;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: 400;
}

.navbar-nav > li > a {
    padding-bottom: 17px;
    padding-top: 17px;
    font-size: 15px;
}

.navbar-nav {
    float: right;
}

.footer {
	background: #f8f8f8;
	margin: 50px 0 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	color: #777;
	font-family: "Open Sans",Arial,sans-serif;
}

.footer-main {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

.footer a {
    color: #777;
    text-decoration: none;
}

.link-section a {
    display: block;
    margin: 6px 0;
}

.footer h4 {
    display: inline-block;
    margin: 0 0 0 10px !important;
}

.footer a:hover {
    color: #000;
    text-decoration: none;
}

.bottom-footer .right {
	text-align: right;
}

.bottom-footer img {
	width: 27px;
	height: auto;
}

.post-title-main a {
	color: #333;
}

.post-title-main {
	text-align: center;
}

.nav-container {
    padding: 0 3% !important;
    width: 100% !important;
}

h3 {
    font-size: 17px;
    text-transform: none;
}

.help-article-index img {
    float: left;
    margin: 0 15px 25px 0;
    width: 130px;
}

@media (max-width: 580px) { 
	.help-article-index img {
    margin: 0 15px 0 0;
    width: 90px;
}
}

.navbar-static-top {
    border-width: 0;
}

.index-continent-menu a {
	font-size: 13px;
}

.home-featured-header {
	text-align: center;
	font-size: 40px;
	margin-bottom: 10px;
}

.home-featured-header a {
	color: #000;
}

.all-countries {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 20px;
}

.home-featured {
	text-align: center;
}

.home-featured h4 {
	margin-top: -40px;
}

.home-featured img {
	width: 250px;
	height: auto;
}

.home-mapimg {
	background-image: url(http://y7kim.github.io/agency-jekyll-theme/img/map-image.png);
	background-position: center center;
	background-color: #2579c6;
	background-repeat: no-repeat;
	height: 275px;
}

.home-page-cont {
	margin-top: -56px;
}