// Add your own custom CSS here.
@import "pygments-tomorrow";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table;
  @extend .table-bordered;
}

body { 
    background-color: #fcfcfc;
}

.featured-exchanges .exchange-box {
    color: #ffffff;
}

.featured-exchanges .exchange-box:hover {
    text-decoration: none;
}

.featured-exchanges .coinbase {
	margin-left: 10px;
}

.featured-exchanges h4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.featured-exchanges p {
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
}

@media (max-width: 991px) { 
	.buy-info {
    margin: 15px 0;
}
}

@media (min-width: 992px) { 
	.buy-info {
	margin: 10px 0.5% !important;
    width: 49% !important;
    }
}

@media (min-width: 767px) { 
	.footer-right {
		text-align: right;
	}
}

.navbar-brand {
    line-height: 39px;
    padding: 9.5px 15px;
}

.buy-info {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.buy-info p {
    font-size: 16px;
    line-height: 1.55;
    margin: 16px 0 14px;
}

.buy-info h4 {
    font-size: 19px;
}

.buy-info img {
    float: left;
    height: 33px;
    margin: -4px 10px 0 0;
    width: auto;
    border-radius: 3px;
}

.buy-info .btn {
	padding: 0 9px;
}

.navbar-header {
    text-align: center;
}

.continent {
	margin: 15px 0px;
}

.country-link {
    display: inline-block;
}

.country-link .country-name {
    margin: 2px 0 0 40px;
}


.continent .country-link a {
	text-transform: none;
	font-weight: normal;
}

.continent .flag-icon {
	font-size: 30px;
	position: absolute;
}

.country-single-index {
	text-align: center;
}

.country-single-index .flag-icon {
	margin-right: 10px;
}

.country-single-index a {
	color: #555;
}

.country-single-index a:hover {
	color: #5b7fa4;
}

.index-continent-menu {
    list-style: outside none none;
    margin: 20px 0 0;
    padding: 0;
    text-align: center;
}

.index-continent-menu li {
    display: inline-block;
    margin: 5px 5px 0;
}

@media (max-width: 767px) { 
.index-continent-menu li {
    margin: 7px 5px !important;
}
.navbar-nav {
    float: left !important;
}
.footer-right {
		margin: 15px 0 0;
	}
}

.well-home {
	text-align: center;
}

.well-message {
	font-weight: bold;
}

.home-header a {
	color: #555;
}

.buy-info i {
	margin-top: -1px;
}

.black-link {
	color: #555;
}

.black-link:hover {
	color: #555;
}

@media (max-width: 497px) { 
.large-screen-buy {
	display: none;
}
.small-screen-buy {
	margin-bottom: 10px;
	width: 100%;
}
.navbar-brand {
    background-image: none !important;
    }
}

@media (min-width: 498px) { 
.small-screen-buy {
	display: none;
}
}

.navbar-brand {
    background-image: url("https://raw.githubusercontent.com/BuyBitcoinWorldwide/buybitcoinworldwide.github.io/master/img/icons/bbww.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 50px auto;
    padding: 9.5px 15px 9.5px 60px;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
	color: #e6e6e6;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: 400;
}

.navbar-nav {
    float: right;
}

.footer {
	background: #f8f8f8;
	margin: 50px 0 0;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	color: #777;
	font-family: "Helvetica Neue",Arial,sans-serif;
}

.footer-main {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;
	padding-bottom: 20px;
    padding-top: 20px;
}

.footer a {
    color: #777;
    text-decoration: none;
}

.footer h4 {
	margin: 0 !important;
}

.footer a:hover {
    color: #000;
    text-decoration: none;
}

.wallet-nav {
	padding-right: 20px;
}

.footer-social {
	font-size: 25px;
}