---
layout: help
title: "Compre Bitcoins online via transferência SEPA"
seotitle: "Compre Bitcoins online via transferência SEPA"
permalink: "/pt-br/compre-bitcoins-online-transferência-sepa/"
sitemap:
    priority: 0.7
desc: Conheça onde você pode comprar Bitcoins via transferência SEPA (UE). Lista completa de casas de câmbio e negociantes ao redor do mundo que aceitam transferências SEPA para compra de Bitcoins. 
lang: pt
pmethod: sepa
---
<p>Usando a transferência SEPA você poderá comprar Bitcoins de forma rápida e em maiores quantidades em comparação com outros métodos de pagamento. A lista abaixo contém um número de casas de câmbio e negociantes ao redor do mundo que possibilitam a compra de Bitcoins via transferência SEPA.</p> 
{% include country-loops.html %}
{% for name in site.data.buy %}
{% if name.po contains 'sepa' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}