---
seotitle: Buy Bitcoin in the Republic of the Congo
title: Buy Bitcoin in the Republic of the Congo
permalink: /en/cg/
layout: country
lang: en
country: cg
desc: Learn where and how to buy bitcoin in the Republic of the Congo. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'cg' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}