---
seotitle: Buy Bitcoin in the Democratic Republic of Congo
title: Buy Bitcoin in the Democratic Republic of Congo
permalink: /en/cd/
layout: country
lang: en
country: cd
desc: Learn where and how to buy bitcoin in the Democratic Republic of Congo. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'cd' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}