---
seotitle: Buy Bitcoin in Madagascar | Exchanges, Brokers, and ATMs
title: Buy Bitcoin in Madagascar
permalink: /en/mg/
layout: country
lang: en
country: mg
desc: Learn where and how to buy bitcoin in Madagascar. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'mg' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}