---
title: Buy Bitcoin in Palestine
seotitle: Buy Bitcoin in Palestine | Exchanges, Brokers, and ATMs
permalink: /en/ps/
layout: country
lang: en
country: ps
desc: Learn where and how to buy bitcoin in Palestine. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ps' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}