---
title: Buy Bitcoin in the Philippines
seotitle: Buy Bitcoin in the Philippines | Exchanges, Brokers, and ATMs
permalink: /en/ph/
layout: country
lang: en
country: ph
desc: Learn where and how to buy bitcoin in the Philippines. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ph' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}