---
seotitle: Buy Bitcoin in Seychelles | Exchanges, Brokers, and ATMs
title: Buy Bitcoin in Seychelles
permalink: /en/sc/
layout: country
lang: en
country: sc
desc: Learn where and how to buy bitcoin in Seychelles. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'sc' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}