---
title: Buy Bitcoin in South Africa
seotitle: How to Buy Bitcoin in South Africa
permalink: /en/south-africa/
layout: country
lang: en
country: za
desc: Learn where and how to buy bitcoin in South Africa. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}

<p>Due to a falling Rand, Bitcoin is becoming a better option for South Africans in search of stable currency. For more information in Bitcoin in South Africa, visit <a href="http://www.bitcoinzar.co.za/">Bitcoinzar.co.za</a>. For places to buy bitcoin in South Africa, see the list below. </p>

{% for name in site.data.buy %}
{% if name.countries contains 'za' %}{% include buy-list-en.html %}{% endif %}
{% endfor %}