---
seotitle: Buy Bitcoin in South Sudan | Exchanges and Brokers
title: Buy Bitcoin in South Sudan
permalink: /en/ss/
layout: country
lang: en
country: ss
desc: Learn where and how to buy bitcoin in South Sudan. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'ss' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}