---
title: Buy Bitcoin in South Korea
seotitle: Buy Bitcoin in South Korea | Exchanges, Brokers, and ATMs
permalink: /en/kr/
layout: country
lang: en
country: kr
desc: Learn where and how to buy bitcoin in South Korea. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'kr' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}