---
title: Buy Bitcoin in Sri Lanka
seotitle: Buy Bitcoin in Sri Lanka | Exchanges, Brokers, and ATMs
permalink: /en/lk/
layout: country
lang: en
country: lk
desc: Learn where and how to buy bitcoin in Sri Lanka. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'lk' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}