---
title: Where to Buy Bitcoin in the United States
permalink: "en/country/us/"
layout: country
---
<div class="post-header">
  <h1 class="post-title-main centered">{{ page.title }}</h1>
</div>
<div class="post-content">
{% for name in site.data.buy %}
{% if name.countries contains 'us' %}
<div class="col-md-6 buy-info">
		<h4>
		<a href="{{ name.url }}"><img src="{{ name.icon }}">{{ name.name }}</a> 
		<a type="button" href="{{ name.url }}" class="btn btn-success pull-right">
		<i class="fa fa-external-link"></i> Buy</a>
		</h4>
		<p>{{ name.desc }}</p>
</div>
{% endif %}
{% endfor %}
</div>