---
title: Buy Bitcoin in the United States
seotitle: 25 Ways to Buy Bitcoin in the United States
permalink: /en/us/
layout: country
lang: en
sitemap:
    priority: 0.7
country: us
desc: Learn where and how to buy bitcoin in the United States. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}

<p>The US is home to most of the world's largest Bitcoin companies, so it's no surprise that it's easy to buy bitcoins in the United States using nearly any payment method: <a href="/en/buy-bitcoins-with-cash/">cash</a>, <a href="/en/buy-bitcoin-credit-debit-card/">credit card</a>, or <a href="/en/buy-bitcoin-ach-bank-transfer-united-states/">bank transfer</a>.</p>

{% for name in site.data.buy %}
{% if name.countries contains 'us' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}