---
title: Buy Bitcoin in Uzbekistan
seotitle: Buy Bitcoin in Uzbekistan | Exchanges, Brokers, and ATMs
permalink: /en/uz/
layout: country
lang: en
country: uz
desc: Learn where and how to buy bitcoin in Uzbekistan. Complete directory of exchanges, brokers, and ATMs accepting a number of payment methods.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'uz' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}