---
title: Acquista Bitcoin in Francia
seotitle: Acquista Bitcoin in Francia | Società di cambio, broker e ATM
permalink: /it/francia/
layout: country
lang: it
country: fr
desc: Impara dove e come acquistare Bitcoin in Francia. Directory completa delle società di cambio, broker e ATM che accettano varie modalità di pagamento.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'fr' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}