---
title: Acquista Bitcoin in Grecia
seotitle: Acquista Bitcoin in Grecia | Società di cambio, broker e ATM
permalink: /it/grecia/
layout: country
lang: it
country: gr
desc: Impara dove e come acquistare Bitcoin in Grecia. Directory completa delle società di cambio, broker e ATM che accettano varie modalità di pagamento.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'gr' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}