---
title: Acquista Bitcoin in Italia
seotitle: Acquista Bitcoin in Italia | Società di cambio, broker e ATM
permalink: /it/italia/
layout: country
lang: it
country: it
desc: Impara dove e come acquistare Bitcoin in Italia. Directory completa delle società di cambio, broker e ATM che accettano varie modalità di pagamento.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'it' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}