---
title: Acquista Bitcoin in Slovenia
seotitle: Acquista Bitcoin in Slovenia | Società di cambio, broker e ATM
permalink: /it/slovenia/
layout: country
lang: it
country: si
desc: Impara dove e come acquistare Bitcoin in Slovenia. Directory completa delle società di cambio, broker e ATM che accettano varie modalità di pagamento.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'si' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}