---
title: Acquista Bitcoin nel Stati Uniti d'America
seotitle: Acquista Bitcoin nel Stati Uniti d'America | Società di cambio, broker e ATM
permalink: /it/stati-uniti-damerica/
layout: country
lang: it
country: us
desc: Impara dove e come acquistare Bitcoin nel Stati Uniti d'America. Directory completa delle società di cambio, broker e ATM che accettano varie modalità di pagamento.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'us' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}