---
title: Acheter des Bitcoins au Burundi 
seotitle: Acheter des Bitcoins au Burundi | Bourses d'échange, Courtiers et GAB
permalink: /fr/bi/
layout: country
lang: fr
country: bi
desc: Apprenez où et comment acheter des bitcoins au Burundi. Liste complète des bourses d'échange, courtiers et GAB acceptant de nombreux moyens de paiement.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'bi' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}