---
layout: guidehelp
title: "איך לקנות ביטקוין באמצעות פייפאל "
seotitle: "קנו ביטקוין במהירות באמצעות פייפאל ב-3 שלבים"
permalink: "/he/לקנות-ביטקוין-באמצעות-פייפאל/"
sitemap:
    priority: 0.7
desc: "Aprenda a forma mais fácil e rápida de comprar bitcoins com o PayPal instantaneamente neste guia em passo a passo."  
lang: he
pmethod: paypal
author: jordantuwiner
---
<div class="col-sm-12">

	{% for post in site.data.paypal %}
	{% if post.lang != page.lang %}
	{% include languages.html %}
	{% endif %}
	{% endfor %}

<p><img class="img-responsive halfimg-right" alt="" src="/img/icons/sepa.png"> משום שפייפאל (PayPal) היא הדרך הנפוצה ביותר לביצוע תשלומים באינטרנט, אנשים רבים רוצים לקנות ביטקוין באמצעות PayPal.</p>

<p>אבל תשלום באמצעות פייפאל הוא הפיך, בעוד שתשלום באמצעות ביטקוין הוא בלתי-הפיך. דבר זה גורם למוכרי ביטקוין להסתכן כאשר הם ממירים כסף בפייפאל לביטקוין.</p>

<p>
למרות זאת, עדיין אפשרי לקנות ביטקוין באמצעות פייפאל, אך לעתים קרובות מדובר בדבר הכרוך בעמלות גבוהות או *a large premium*
נכון להיום, יש שתי אפשרויות ראויות לקנות ביטקוין באמצעות פייפאל: VirWox או LocalBitcoin.

</p>
 
<p>בגלל סיכון גבוה יותר להונאה בעת קניית ביטקוין באמצעות פייפאל דרך LocalBitcoins, אנחנו נראה לך, צעד-אחר-צעד, כיצד לקנות ביטקוין באמצעות פייפאל ב VirWox.</p>

</div>

<div class="col-sm-12">
	{% include country-loops.html %}
	{% for name in site.data.buy %}
	{% if name.po contains 'paypal' %}
	{% include buy-list-en.html %}
	{% endif %}
	{% endfor %}
</div>

<div class="col-sm-12 small-large-break">
</div>


<div class="col-xs-12">

<p>בשימוש בVirWox אתם תשלמו בסביבות ה-9% עמלה, אך זו עדיין הדרך הזולה, הקלה והמהירה ביותר לקנות ביטקוין באמצעות פייפאל. ייתכן ותצטרכו לחכות כמה ימים לאחר פתיחת חשבון בVirWox לפני שתוכלו להפקיד בו כסף. לאחר הפקדת הכסף הראשונה, כלל ההפקדות הבאות יוכלו לקרות באופן מיידי.הגבלת הקנייה הראשונית היא 88$ ליום, ו-261$ לחודש, אך הגבלות אלו גודלות אם אתם קונים לעתים קרובות.</p> 

<p>VirWox - Virtual World Exchange,
בעיקרו, מספק דרך לאנשים לקנות מטבע בשם Lindens, בעולם הוירטואלי Second life.
אי אפשר לקנות ביטקוין ישירות דרך VirWox, אך באפשרותך לקנות Lindens ולהחליפם בעבור ביטקוינס.
</p>

<h2>1. <a href="http://buybitcoinww.co/bitcoin_virwox" rel="nofollow" target="_blank">פתיחת חשבון</a> VirWoX</h2> 

<p> מדף הבית, לחצו על “Not registered yet?”</p> 

<p><img src="/img/paypaltobtc/1.png" alt="register VirWoX" class="img-responsive kb-helper" /></p> 

<h2 id="enter-the-details-for-your-account">2. מלאו את פרטי חשבונכם</h2> 

<p>עת תמלאו את פרטי החשבון שתיצרו.
שימו לב שלא להתבלבל עם החלק תחת הכותרת "Link to avatar", אותו תוכלו להשאיר ריק.</p> 

<p><img src="/img/paypaltobtc/2.png" alt="create account virwox" class="img-responsive kb-helper" /></p> 

<h2 id="check-your-email">3. בדקו את הדוא"ל שלכם</h2> 

<p> בזמן זה המשתמש שלכם נוצר. סיסמא זמנית תישלח אליכם בדוא"ל שמילאתם ליצירת החשבון בשלב 2.</p> 

<p><strong> הסיסמא היא זמנית וחובה לשנותה. אם לא תשנו את סיסמא זו לאחר 24 שעות חשבונכם יימחק. בשלב הבא נראה לכם כיצד תשנו את הסיסמא.</strong></p> 

<p><img src="/img/paypaltobtc/3.png" alt="check email virwox" class="img-responsive kb-helper" /></p> 

<h2 id="change-your-password">4. שנו את הסיסמא</h2> 

<p> ברגע שתתחברו עם הסיסמא הזמנית, לחצו על “Change settings” בסרגל השמאלי שבדף.</p> 

<p><img src="/img/paypaltobtc/4.png" alt="change password virwox" class="img-responsive kb-helper" /></p> 

<h2 id="create-a-new-password">5. צרו סיסמא חדשה</h2> 

<p> כתבו סיסמא חדשה. שימו לב שסיסמתכם החדשה חזקה, מדובר בכסף שלכם!</p> 

<p><img src="/img/paypaltobtc/5.png" alt="create password virwox" class="img-responsive kb-helper" /></p> 

<h2 id="deposit-from-paypal">6. הפקדת כסף מפייפאל</h2> 

<p> לאחר ששיניתם את סיסמתכם, לחצו על "Depoit" בסרגל השמאלי שבדף.</p> 

<p><img src="/img/paypaltobtc/6.png" alt="deposit from paypal" class="img-responsive kb-helper" /></p> 

<h2 id="deposit-and-select-amount">7. הפקידו ובחרו בכמות</h2> 

<p> גלגלו מעט מטה ותראו אפשרות לבצע הפקדה באמצעות פייפאל. משמאל תוכלו לבחור בכמות שתרצו להפקיד, ולאחר מכן לחצו על הכפתור "Check out with PayPal".</p> 

<p><img src="/img/paypaltobtc/7.png" alt="change paypal for sll" class="img-responsive kb-helper" /></p> 

<h2 id="login-to-paypal">8. התחברו לפייפאל</h2> 

<p> התחברו לפייפאל. שימו לב שבצד שמאל כתובה הכמות שבחרתם להפקיד. במידה וזוהי לא הכמות שבחרתם, חזרו אחורה ובחרו בכמות הרצויה.</p> 

<p><img src="/img/paypaltobtc/8.png" alt="login to paypal" class="img-responsive kb-helper" /></p> 

<h2 id="verify-acccount-balance">9. אימות יתרת חשבון</h2> 

<p> אם נשמעתם להוראות PayPal בהצלחה, אמורה להופיע לכם יתרת החשבון הVirWox שלכם.</p> 

<p> שימו לב שהכמות המופיעה בחשבון הVirWox שלכם קטנה מעט מהכמות שבחרתם בשלב להפקיד בשלב 7. הדבר קרה לאור העמלה שPayPal גובה לכל הפקדה - 2.9% + 0.30$.</p> 

<p><img src="/img/paypaltobtc/9.png" alt="check balance" class="img-responsive kb-helper" /></p> 

<h2 id="trade-usd-for-second-life-lindens">10. החליפו דולרים (USD) עבור Lindens של Second life</h2> 

<p> זוכרים שהזכרנו שתצטרכו לקנות Lindens של Second Life ולאחר מכן להחיפם בעבור ביטקוינס? ובכן, כעת אנחנו קונים את ה SSL (Second Life Lindens). בשלב זה תצטרכו למכור את הדולרים שהפקדתם מפייפאל בשביל לקבל SSL.</p> 

<p>בחרו בכמות הדולרים שתרצו למכור.</p> 

<p><img src="/img/paypaltobtc/10.png" alt="trade sll for usd" class="img-responsive kb-helper" /></p> 

<h2 id="complete-order">11. סוף ההחלפה</h2> 

<p> כעת תוכלו לראות בתמונה למטה כי יש לי יתרת SSL בחשבון. אם אתם רואים כי גם לכם יש יתרת SSL, זה אומר שעברתם את השלבים כמו שצריך עד כה.</p> 

<p>עכשיו לחצו על  “BTC/SLL” בסרגל השמאלי שבדף. אנחנו נחליף את הSSL שלנו עבור ביטקוין.</p> 

<p><img src="/img/paypaltobtc/11.png" alt="exchange" class="img-responsive kb-helper" /></p> 

<h2 id="trade-sll-for-btc">12. החלפת SSL עבור ביטקוין</h2> 

<p> התהליך דומה בשלב זה. פשוט כתבו את כמות הBTC (Bitcoin) - ביטקוינס שתרצו לקנות ולחצו על "Next".</p> 

<p><img src="/img/paypaltobtc/12.png" alt="paypal to bitcoin" class="img-responsive kb-helper" /></p> 

<h2 id="buy-bitcoin">13. קנו ביטקוין!</h2> 

<p> זהו זה! אמורה להופיע לכם יתרת הBTC שלכם למעלה בצד שמאל של המסך. קניתם ביטקוין באמצעות פייפאל בהצלחה.</p> 

<p><img src="/img/paypaltobtc/13.png" alt="buy bitcoin" class="img-responsive kb-helper" /></p> 

<p>ברגע שקניתם ביטקוינס, אנחנו מציעים שתשלחו אותם לארנק שלכם. ייתכן שיהיה צורך לחכות יומיים עד למשיכת הביטקוינס שלכם לטובת ביצוע קנייה ראשונה. בעתיד, נסו אפשרויות אחרות לקניית ביטקוינס על מנת להימנע מעמלות.</p> 
	
	<a class="btn pmethod-btn-bottom btn-success" target="_blank" rel="nofollow" href="http://buybitcoinww.co/bitcoin_virwox" type="button"><i class="fa fa-bitcoin"></i> קנב ביטקוין</a>
		
	<p>ככל הנראה לעולם לא תהיה דרך קלה ויעילה לקנות ביטקוינס באמצעות פייפאל בשל הדרך הבלתי - הפיכה של תשלומים בביטקוין. למרות. זאת, נראה שפייפאל מגלים עניין בביטקוין. אם תרצו, תוכלו  העבירו להעביר כספים מפייפאל אל הבנק שלכם באמצעות העברה בנקאית. או לחילופין, העבירו כספים מפייפאל אל הבנק שלכם, משכו אותו למזומן, וקנו ביטקוין בדרך הפקדת מזומנים.</p>
	
	{% include share.html %}
</div>