---
layout: blogindex
title: Blog - Buy Bitcoin Worldwide
lang: en
seotitle: Blog - Buy Bitcoin Worldwide
desc:  
hide_sidebar: true
blog_index: true
---
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ page.date | date: '%B %d, %Y' }}</span>
  </p>
  <div class="content">
    {{ post.summary }}
  </div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>