---
title: Compre Bitcoins em Cabo Verde
seotitle: Compre Bitcoins em Cabo Verde | Bolsa de valores e casas de câmbio
permalink: /pt-br/cabo-verde/
layout: country
lang: pt
country: cv
desc: Saiba onde e como comprar Bitcoins em Cabo Verde. Diretório completo de bolsas de valores, casas de câmbio e ATMs que aceitam várias formas de pagamento.  
cn: Cabo Verde
continent: af 
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'cv' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}