---
title: Compre Bitcoins em Guiné-Bissau
seotitle: Compre Bitcoins em Guiné-Bissau
permalink: /pt-br/guiné-bissau/
layout: country
lang: pt
country: gw
desc: Saiba onde e como comprar Bitcoins na Guiné-Bissau. Diretório completo de bolsas de valores, casas de câmbio e ATMs que aceitam várias formas de pagamento.   
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'gw' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}