---
title: Compre Bitcoins na Índia
seotitle: Compre Bitcoins na Índia | Bolsa de valores e casas de câmbio
permalink: /pt-br/india/
layout: country
lang: pt
country: in
desc: Saiba onde e como comprar Bitcoins na Índia. Diretório completo de bolsas de valores, casas de câmbio e ATMs que aceitam várias formas de pagamento.   
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'in' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}