---
title: Compre Bitcoins em Portugal
seotitle: Compre Bitcoins em Portugal | Bolsa de valores e casas de câmbio
permalink: /pt-br/portugal/
layout: country
lang: pt
country: pt
desc: Saiba onde e como comprar Bitcoins em Portugal. Diretório completo de bolsas de valores, casas de câmbio e ATMs que aceitam várias formas de pagamento.   
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'pt' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}