---
title: Compre Bitcoins nos Estados Unidos
seotitle: Compre Bitcoins nos Estados Unidos | Bolsa de valores e casas de câmbio
permalink: /pt-br/estados-unidos/
layout: country
lang: pt
country: us
desc: Onde e como comprar Bitcoins nos Estados Unidos. Diretório completo de bolsas de valores, casas de câmbio e ATMs que aceitam várias formas de pagamento.   
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'us' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}