---
layout: help
title: "Buy Bitcoin with Credit or Debit Card in the United States"
sitemap:
    priority: 0.7
permalink: "/en/buy-bitcoin-debit-credit-card-united-states/"
desc: Learn where to buy bitcoin with a credit or debit card. Complete list of brokers in the USA accepting credit card payments for bitcoin. 
lang: en
---
<p>Bitcoin payments are irreversible and confirmed after 10 minutes, while credit card payments can take 30+ days to confirm. This makes it risky for businesses to accept credit card payments for bitcoin. Those that do accept credit cards usually charge more fees than compared with other payment methods. The list below includes companies in the USA that accept credit card payments for bitcoin. </p> 
{% include country-loops.html %}
{% for name in site.data.buy %}
{% if name.po contains 'ccus' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}