---
layout: walletcat
permalink: "/wallets/android/"
title: Bitcoin Wallets for Android
lang: en
seotitle: Bitcoin Wallets for Android
desc:  
hide_sidebar: true
wallet_category: iphone
---
{% assign lang = site.data.translations[page.lang] %}
<div class="post-content">
<p>There is no shortage of <a href="/wallets/">Bitcoin wallets</a> for Android. Developers have a bit more freedom when developing wallets for Android vs. iPhone. For example, hardware wallets can't be used with <a href="/wallets/ios/">Bitcoin wallets for iOS</a>.</p>

	{% assign pages = site.wallets | sort:"weight"  %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'android' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}

</div>