---
layout: walletcat
permalink: "/wallets/hardware-wallets/"
title: Hardware Wallets
lang: en
seotitle: Bitcoin Hardware Wallets
desc:  
hide_sidebar: true
wallet_category: hardware
---
{% assign lang = site.data.translations[page.lang] %}
<div class="post-content">
<p>A hardware wallet is a physical hardware device that is built with the sole purpose of securing Bitcoin private keys. Hardware wallets keep private keys away from internet-connected devices and allow users to sign transactions in an offline environment. </p>

	{% assign pages = site.wallets | sort:"weight"  %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'hardware' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}

</div>