---
layout: walletcat
permalink: "/wallets/iphone/"
title: Bitcoin Wallets for iPhone
lang: en
seotitle: Bitcoin Wallets for iPhone
desc:  
hide_sidebar: true
wallet_category: iphone
---
{% assign lang = site.data.translations[page.lang] %}
<div class="post-content">
<p>Apple banned <a href="/wallets/">Bitcoin wallets</a> from the App Store in February 2014, but reversed its decision a few months later. There are plenty of options for iPhone users.</p>
	{% assign pages = site.wallets | sort:"weight"  %}
    {% for wallet in pages reversed %}
	{% if wallet.tags contains 'iphone' %}
	{% include wallet-list.html %}
	{% endif %}
	{% endfor %}

</div>