---
hide_sidebar: true
lang: it
title: Acquista Bitcoin in qualsiasi parte del mondo
seotitle: Acquista Bitcoin in qualsiasi parte del mondo
desc: Acquistare Bitcoin in tutto il mondo ti aiuta ad acquistare Bitcoin in ogni paese e con la modalità di pagamento che preferisci. 
permalink: /it/
layout: default
---
{% assign lang = site.data.translations[page.lang] %}

<div class="well well-home">
<div class="well-message">{{ lang.sitedesc }}</div>

<ul class="index-continent-menu">
<li><a class="btn btn-sm btn-primary" href="#eu">{{ lang.europe }}</a></li> 
<li><a class="btn btn-sm btn-primary" href="#na">{{ lang.namerica }}</a></li> 
</ul>
</div>

<h2 class="home-header"><a href="#eu" id="eu">Acquista Bitcoin in Europa</a></h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.eu == true and country.it == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2 class="home-header"><a href="#na" id="na">Acquista Bitcoin nel Nord America</a></h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.na == true and country.it == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>