---
hide_sidebar: true
lang: pt-br
title: Comprar Bitcoin en cualquier lugar - Buy Bitcoin Worldwide
seotitle: Comprar Bitcoin en cualquier lugar - Buy Bitcoin Worldwide
desc: Comprar Bitcoin en cualquier lugar del mundo. Simplemente seleccione un país. 
permalink: /pt-br/
layout: default
---
{% assign lang = site.data.translations[page.lang] %}

<div class="well well-home">
<div class="well-message">{{ lang.sitedesc }}</div>

<ul class="index-continent-menu">
<li><a class="btn btn-sm btn-primary" href="#eu">{{ lang.europe }}</a></li> 
<li><a class="btn btn-sm btn-primary" href="#sa">{{ lang.samerica }}</a></li> 
<li><a class="btn btn-sm btn-primary" href="#as">{{ lang.asia }}</a></li>
<li><a class="btn btn-sm btn-primary" href="#af">{{ lang.africa }}</a></li>
</ul>
</div>

<h2 class="home-header"><a href="#eu" id="eu">Compre Bitcoins na Europa</a></h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.eu == true and country.pt_br == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2 class="home-header"><a href="#sa" id="sa">Compre Bitcoins na América do Sul</a></h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.sa == true and country.pt_br == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2 class="home-header"><a href="#as" id="as">Compre Bitcoins na Ásia</a></h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.as == true and country.pt_br == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>
<hr>

<h2 class="home-header"><a href="#af" id="af">Compre Bitcoins na África</a></h2>
<div class="container">
<div class="row">
{% for country in site.data.countries %}
{% if country.af == true and country.pt_br == true %}
{% include index-list.html %}
{% endif %}
{% endfor %}
</div>
</div>