---
layout: help
title: "Comprar Bitcoin con depósito en efectivo en los Estados Unidos"
seotitle: "Comprar Bitcoin con depósito en efectivo Estados Unidos"
permalink: "/es/comprar-bitcoin-deposito-efectivo-estados-unidos/"
sitemap:
    priority: 0.7
desc: Dónde comprar Bitcoin con depósitos en efectivo en los Estados Unidos. Lista completa de intercambios y corredores que aceptan depósitos de efectivo para Bitcoin.
lang: es
pmethod: cashus
---
<p>El depósito de efectivo es una forma rápida y privada de <a href="/es/us/">comprar Bitcoin en los Estados Unidos</a>. La lista de la parte inferior contiene intercambios y copañías de Bitcoin que venden o facilitan comercios de Bitcoin P2P mediante depósito en efectivo.
</p> 
{% include country-loops.html %}
{% for name in site.data.buy %}
{% if name.po contains 'cdus' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}