---
layout: guidehelp
title: "How to Buy Bitcoins with Cash"
seotitle: "How to Buy Bitcoins with Cash Fast"
permalink: "/en/buy-bitcoins-with-cash/"
sitemap:
    priority: 0.7
desc: Learn how and where to buy bitcoins with cash.  
lang: en
pmethod: cash
author: jordantuwiner
---
<div class="col-sm-12">
<p>
<img class="img-responsive halfimg-right" alt="how to buy bitcoins with cash" src="/img/icons/sepa.png">
Why buy bitcoins with cash? It's private, usually quick, and one of the easiest ways to get bitcoins. Converting your cash to bitcoin can get you bitcoins within a couple of hours. Many of the options below do not require you to verify your identity or provide sensitive personal details. Buying bitcoins with cash is also the best way for minors and people under the age of 18 to get bitcoins.</p> 
</div>

<div class="col-sm-12">
	{% include country-loops.html %}
	{% for name in site.data.buy %}
	{% if name.po contains 'cdus' %}
	{% include buy-list-en.html %}
	{% endif %}
	{% endfor %}
</div>

<div class="col-sm-12 small-large-break">
<p>Now we're going to explain how the various methods of buying bitcoins with cash work. If you want more information about the companies listed above, <a href="#more-info">click here</a>.</p>
</div>

<div class="content-with-sidebar col-md-9">

<h2>Buy Bitcoins with Cash at Wall of Coins</h2>

<p>Wall of Coins is a peer-to-peer cash exchange, currently available in the United States, Canada, Germany, Brazil, Argentina, Latvia, Poland, and the Philippines. </p>

<iframe frameborder="0"
    id="iframeCanvas"
    name="iframeCanvas"
    width="640"
    webkitallowfullscreen mozallowfullscreen oallowfullscreen
    msallowfullscrean allowfullscreen
    style="height: 512px;"
    src="https://wallofcoins.com/?frame=1">
</iframe>

<h2>Buy Bitcoins at Peer-to-Peer Exchanges</h2>

<p>Peer-to-peer (P2P) Bitcoin exchanges are a great way to get bitcoins with cash. A P2P trade usually works something like this:</p>
<img class="img-responsive kb-helper" alt="localbitcoins" src="/img/instantly/lb.png">
<p><ol>
<li>A buyer and seller use a site like <a href="http://buybitcoinww.co/local_bitcoins">LocalBitcoins</a> or <a href="http://buybitcoinww.co/buybitquick">BitQuick</a> and agree on a price.</li>
<li>The seller’s bitcoins are held by the site (in this case <a href="/exchanges/localbitcoins/">LocalBitcoins</a> or BitQuick) and only released to the buyer upon confirmation of payment.</li>
<li>The buyer deposits cash into the seller’s bank account.</li>
<li>The seller confirms payment.</li>
<li>The site (LocalBitcoins or BitQuick) releases the bitcoins to the buyer.</li>
<li>The seller got cash, and the buyer got bitcoins. The trade is complete!</li>
</ol></p>
<p>The above was just an example. Through sites like LocalBitcoins you can agree on other payment methods besides cash deposit. For example, you could arrange to meet in person and exchange cash for Bitcoin.</p>
<p> There are two main reasons that P2P exchanges offer a near instant way to buy bitcoins: </p>
<img class="img-responsive halfimg-right" alt="cash" src="/img/icons/sepa.png">
<ol>
<li>No verification is required. You don’t need to submit any personal details and there is no verification process that takes up time. </li>
<li>Cash payments are irreversible. Once cash is in someone’s bank account, the buyer of bitcoin has no way to reverse the transaction. So the seller can feel confident that he received payment for bitcoins, and release the bitcoins to the buyer. </li>
</ol>

<p>P2P exchanges offer a fast way to buy bitcoins, but P2P exchange rates may be a bit higher than the global average Bitcoin exchange rate. People are willing to pay more to buy bitcoins both more privately and faster. The markup is usually somewhere around 5-10% on <a href="http://buybitcoinww.co/local_bitcoins">LocalBitcoins</a>. <a href="https://www.bitquick.co/">BitQuick</a> generally has rates close to market. Check the against a Bitcoin price index like <a href="https://bitcoinaverage.com/">Bitcoin Average</a> or the <a href="http://www.coindesk.com/price/">CoinDesk BPI</a>.</p>

<h2>Buy Bitcoins with Cash from Bitcoin ATMs</h2>

<p>Bitcoin ATMs are another great way to purchase bitcoins with cash. While you may have to physically drive or walk to the ATM, once you reach the ATM you can buy. You’ll need to be lucky enough to have a Bitcoin ATM in your area. <a href="http://coinatmradar.com/">Coin ATM Radar</a> keeps track of Bitcoin ATMs around the world and makes it easy to locate an ATM in your area. You can do the following to check if there is a Bitcoin ATM near you:</p>

<h3>1. Go to <a href="http://coinatmradar.com/">CoinATMRadar.com</a></h3>

<h3>2. Search by Location</h3>

<p>In the search box in the top left, type in the name of your country or city and click enter.</p>

<p><img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm1.png"></p>

<h3>3. Find an ATM</h3>

<p>Once you search, you’ll be taken to the location you entered on the map. If you see map pin markers, you’re in luck! That means there are Bitcoin ATMs in your area.</p>

<img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm2.png">

<h3>4. Choose an ATM</h3>

<p>Click on one of the map markers for more details about a specific ATM. From there, you can also click on “Read More” at the bottom for even more details.</p>

<p><img class="img-responsive kb-helper" alt="coin atm radar" src="/img/instantly/atm3.png"></p>

<p>While Bitcoin ATMs make it easy to buy bitcoin with cash, there are some downsides. Bitcoin ATMs generally sell bitcoins at a mark-up of 5-10%. Before you buy bitcoin from an ATM, check the ATM’s price against a Bitcoin price index like <a href="https://bitcoinaverage.com/">Bitcoin Average</a> or the <a href="http://www.coindesk.com/price/">CoinDesk BPI</a>.</p>

<p>Some ATMs may require verification, like a picture of an ID or a finger print scan. Coin ATM Radar provides details on each ATM so be sure to check if the Bitcoin ATM near you requires verification. </p>

<h2 id="more-info">More Information about Cash Exchanges</h2>
	{% include country-loops.html %}
	{% for name in site.data.buy %}
	{% if name.po contains 'cdus' %}
	{% include buy-list-large.html %}
	{% endif %}
	{% endfor %}
	
<h2>Frequently Asked Questions</h2>
<h3>What are risks are involved buying bitcoins with cash?</h3>
<p>Buying bitcoins with cash can be very low risk. If making a trade in-person, it's best to meet in a public place to reduce the risk of scamming or theft. If buying bitcoins with cash via cash deposit, use an escrow service to ensure the seller must send you the bitcoins after receiving bitcoins.</p>


<h3>What are the benefits and advantages?</h3>
<p>It's easy to buy small amounts of bitcoin with cash. It's also private, since no personal information is required in most cases, especially if trading in person or at an ATM with no verification. Buying bitcoins with cash is also fast, as there is no verification to slow down the process.</p>

<h3>What are the disadvantages?</h3>
<p>It can be hard to <a href="/kb/buy-large-amounts-of-bitcoin/">buy large amounts of bitcoins</a> with cash, especially with cash deposit. Bitcoin ATMs also have limits and some require verification if more than a certain amount is purchased.</p>	
	
	
	<p>It's easy buy bitcoin with cash quickly and in small amounts. If you need to buy larger amounts of bitcoin then <a href="/en/buy-bitcoin-ach-bank-transfer-united-states/">buy with ACH transfer</a>.</p>
	{% include share.html %}
</div>
<div class="sidebar-add col-md-3">
	{% include sidebar.html %}
</div>