---
layout: guide
title: "How to Buy Bitcoin without a Bank Account"
seotitle: "How to Buy Bitcoin without a Bank Account"
permalink: "/en/buy-bitcoin-without-bank-account/"
sitemap:
    priority: 0.7
desc: Learn where to buy bitcoin without a bank account. A complete list of brokers and exchanges that serve bitcoin buyers with no bank accont. 
lang: en
pmethod: nobank
author: jordantuwiner
---
<p>Although it may seem hard to buy bitcoin without a bank account, services that allow the unbanked to buy bitcoin often deliver your coins faster. <a href="/en/buy-bitcoins-with-cash/">Bitcoin purchases made with cash</a> often have delivery times of under 2 hours. Bitcoin purchases made with <a href="/en/buy-bitcoin-credit-debit-card/">credit/debit card</a> or ACH transfer often have wait times of up to 5 days before the coins are delivered.</p>

<p>Bitcoin can be a great tool for the unbanked, so it's no surprise that many companies are focused on helping those with no bank account buy bitcoin.</p>

{% include country-disclosure.html %}

{% include country-loops.html %}
{% for name in site.data.buy %}
{% if name.po contains 'nobank' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}

<p>On top of the options listed above, it's always possible to buy bitcoin at your <a href="http://bitcoin.meetup.com/">local meetup</a> or from a local Bitcoin ATM. Use <a href="http://coinatmradar.com/">Coin ATM Radar</a> to find a Bitcoin ATM in your area. 

<p><i>The availability of the services listed above may vary by location.</i></p>