---
layout: page
permalink: "/find-exchange/"
title: Find a Bitcoin Exchange
lang: en
seotitle: Find a Bitcoin Exchange
desc: This tool helps you find a Bitcoin exchange by narrowing down exchanges based on country and payment method.  
hide_sidebar: true
include_javascript:
  - 'sellers/en'
  - 'buybot'
---
<div class="post-content buy-bot">
  <form class="form-inline" style="text-align: center;">
    <div class="form-group">
      <label for="country"><i class="fa fa-fw fa-globe"></i> Country:</label>

      <select id="country" class="type-select-container form-control">
        <option value="">All</option>
        {% assign countries = (site.data.countries | sort: 'country') %}
        {% for country in countries %}
          <option value="{{country.short}}">{{country.country}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="payment_method"><i class="fa fa-fw fa-money"></i> Payment Method:</label>
      <select id="payment_method" class="form-control">
        <option value="">All</option>
        {% assign paymentmethods = (site.data.pmethods | sort: 'pmethod') %}
        {% for method in paymentmethods %}
          <option value="{{method.short}}">{{method.pmethod}}</option>
        {% endfor %}
      </select>
    </div>
  </form>
  
	{% include country-disclosure.html %}
	
  <div id="sellers"></div>
  <p class="no-matches bg-danger">No matches found</p>
</div>