---
layout: page
permalink: "/coin-find/"
title: Coin Find 
lang: en
seotitle: Coin Find - The Bitcoin Buying Bot
desc: Coin Find helps you buy bitcoin by narrowing down exchanges and brokers based on your country and preferred payment method.  
hide_sidebar: true
include_javascript:
  - 'sellers/en'
  - 'buybot'
---
<div class="post-content buy-bot">
  <form class="form-inline" style="text-align: center;">
    <div class="form-group">
      <label for="country"><i class="fa fa-fw fa-globe"></i> Country:</label>

      <select id="country" class="form-control">
        <option value="">All</option>
        {% assign countries = (site.data.countries | sort: 'country') %}
        {% for country in countries %}
          <option value="{{country.short}}">{{country.country}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="payment_method"><i class="fa fa-fw fa-money"></i> Payment Method:</label>
      <select id="payment_method" class="form-control">
        <option value="">All</option>
        {% for method in site.data.pmethods %}
          <option value="{{method.short}}">{{method.pmethod}}</option>
        {% endfor %}
      </select>
    </div>
  </form>
  <div id="sellers"></div>
  <p class="no-matches bg-danger">No matches found</p>
</div>