---
layout: page
permalink: "/en/faq/"
title: Frequently Asked Questions
lang: en
seotitle: Frequently Asked Questions about Buying Bitcoin
desc: Buying bitcoin can seem challenging. Our FAQ makes it a bit easier by answering some of the most common questions people have before buying bitcoin.  
hide_sidebar: true
---
<div class="post-content container faq-index">
	<p class="text-center">Find answers to all your questions about buying bitcoin.</p>
	<div class="row">
	
	<div class="col-md-6">
	<h2>Why buy bitcoin?</h2>
	<ul>
	{% for album in site.faqs %}
	{% if album.faqcat == 'whybuy' %}
    <li><a href="{{ album.url }}">{{ album.title }}</a></li>
	{% endif %}
	{% endfor %}
	</ul>
	</div>
	
	<div class="col-md-6">
	<h2>General Questions</h2>
	<ul>
	{% for album in site.faqs %}
	{% if album.faqcat == 'general' %}
    <li><a href="{{ album.url }}">{{ album.title }}</a></li>
	{% endif %}
	{% endfor %}
	</ul>
	</div>
	
	</div>
</div>