---
layout: kbsection
permalink: "/kb/category/buying-bitcoin/"
title: Buying Bitcoin
lang: en
seotitle: Buying Bitcoin - Knowledge Base
desc: Information and guides to help make buying bitcoin easier. 
hide_sidebar: true
img: buyingbtc.png
summary: Information and guides to help make buying bitcoins easier. 
pagetype: kbsection 
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "buying" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}