---
layout: kbsection
permalink: "/kb/category/economics/"
title: Bitcoin Economics
lang: en
seotitle: Bitcoin Economics
desc: Learn about the economics of Bitcoin.  
hide_sidebar: true
img: economics.png
summary: Learn about the economics of Bitcoin - miners, nodes, merchants, holders, and the rest of the ecosystem make Bitcoin economics interesting and complex. 
pagetype: kbsection 
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "economics" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}