---
layout: kbsection
permalink: "/kb/category/faq/"
title: Frequently Asked Questions
lang: en
seotitle: Frequently Asked Questions about Bitcoin
desc: Find answers to the most commonly asked questions about Bitcoin. 
hide_sidebar: true
img: faq.png
summary: Answers to the most frequently asked questions about Bitcoin. 
pagetype: kbsection 
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "faq" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}