---
layout: kbsection
permalink: "/kb/category/bitcoin-in-financial-crisis/"
title: Bitcoin in Financial Crisis
lang: en
seotitle: Bitcoin in Financial Crisis
desc: Learn how Bitcoin can help protect you in the event of financial criss like inflation or capital controls. 
hide_sidebar: true
img: financialcrisis.png
summary: Learn how Bitcoin can help protect you in the event of financial criss like inflation or capital controls.
pagetype: kbsection 
sitemap:
  exclude: 'yes'
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "fcrisis" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}