---
layout: kbsection
permalink: "/kb/category/general/"
title: General
lang: en
seotitle: General - Knowledge Base
desc: A wealth of general knowledge about Bitcoins and Bitcoin best practices. 
hide_sidebar: true
img: general.png
summary: This section is a collection of articles that don't fit into any of the other KB sections. 
pagetype: kbsection 
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "general" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}