---
layout: kbsection
permalink: "/kb/category/using-hardware-wallets/"
title: Using Hardware Wallets
lang: en
seotitle: Using Bitcoin Hardware Wallets
desc: Bitcoin hardware wallets are great for security, but may be hard to use. Our guides help you use your hardware wallet with other software. 
hide_sidebar: true
img: hardwarewallets.png
summary: Bitcoin hardware wallets are great for security, but may be hard to use. Our guides help you use your hardware wallet with other software.
pagetype: kbsection 
sitemap:
  exclude: 'yes'
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "usinghws" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}