---
layout: kbsection
permalink: "/kb/category/mining/"
title: Bitcoin Mining
lang: en
seotitle: Bitcoin Mining - Knowledge Base
desc: Learn about Bitcoin mining and how it works.  
hide_sidebar: true
img: mining.png
summary: Learn about Bitcoin mining and how it works. 
pagetype: kbsection 
sitemap:
  exclude: 'yes'
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "mining" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}