---
layout: kbsection
permalink: "/kb/category/privacy/"
title: Privacy
lang: en
seotitle: Bitcoin Privacy - Knowledge Base
desc: Bitcoin is a private as you choose. Learn more about Bitcoin privacy, best practices, and mistakes to avoid. 
hide_sidebar: true
img: buyingbtc.png
summary: Bitcoin is a private as you choose. Learn more about Bitcoin privacy, best practices, and mistakes to avoid. 
pagetype: kbsection 
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "privacy" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}