---
layout: kbsection
permalink: "/kb/category/restoring-wallet-backups/"
title: Restore Wallet Backups
lang: en
seotitle: Restore Wallet Backups - Knowledge Base
desc: Learn how to restore your Bitcoin wallets if they are lost, stolen, or damaged. 
hide_sidebar: true
img: restorebackups.png
summary: Guides on how to restore wallets. 
pagetype: kbsection 
sitemap:
  exclude: 'yes'
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "restore" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}