---
layout: kbsection
permalink: "/kb/category/bitcoin-vs-traditional-finance/"
title: Bitcoin vs. Traditional Finance
lang: en
seotitle: Bitcoin vs. Traditional Finance
desc: Learn how Bitcoin challenges existing financial authorities like banks and government.
hide_sidebar: true
img: traditionalfinance.png
summary: Learn how Bitcoin challenges existing financial authorities like banks and government. 
pagetype: kbsection 
---
{% assign pages = site.kb | sort:"weight"  %}
{% for album in pages reversed %}
{% if album.categories contains "traditionalf" %}
{% include kb-category.html %}
{% endif %}
{% endfor %}