---
layout: default
hide_sidebar: true
---
<div class="exchange-article {{ page.exchange }}-exchange">

<div class="breadcrumbs">
	<a href="/"><i class="fa fa-home"></i></a> &#155; 
	<a href="/exchanges/">Bitcoin Exchanges</a> &#155; 
	<strong>{{ page.title }}</strong>
	</div>	

<div class="row content-with-sidebar col-md-9">	
<div class="exchange-header-back">
<div class="exchange-header {{ page.exchange }}-exchange">
	  <img alt="{{ page.title }} review" class="exchange-logo" src="{{ "/img/exchanges/" | prepend: site.baseurl }}{{ page.thumb }}">
	  <h1 class="ctitle"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }} Review</a></h1>
	  <!-- <div class="exchange-info"> 
	 	<div class="exchange-info-link"><i class="fa fa-fw fa-link fa-lg"></i> <a rel="nofollow" href="{{ page.website_url }}">{{ page.website }}</a></div>
	 </div> -->
</div>
</div>
<div class="exchange-content {{ page.exchange }}-exchange entry-content">   
	<div class="exchange-summary">{{ page.summary }}</div>
	
	<div class="exchange-ratings">
	
		<div class="privacy-score single-rating">
			<div class="rating-title">Privacy &nbsp;|&nbsp; <a href="#privacy">Details  &#155;</a> <div class="score">{{ page.privacy_score }}</div></div>
			<div class="rating-bar-outer">
				<div class="rating-bar-inner" style="{% if page.privacy_score == 10 %} border-radius: 12px !important; {% endif %} width: {{ page.privacy_width }}%; {% if page.privacy_score >= 8.5 %} background: #2b8000; {% elsif page.privacy_score < 8.5 and page.privacy_score >= 7 %} background: #ace600; {% elsif page.privacy_score < 7 and page.privacy_score >= 5 %} background: #ffb41a; {% elsif page.privacy_score < 5 and page.privacy_score >= 2.5 %} background: #ff8080; {% elsif page.privacy_score < 2.5 %} background: #ff1a1a; {% endif %}">
				</div>	
			</div>
		</div>
		
		<div class="limits-score single-rating">
			<div class="rating-title">Limits & Liquidity &nbsp;|&nbsp; <a href="#limits--liquidity">Details  &#155;</a> <div class="score">{{ page.limits_score }}</div></div>
			<div class="rating-bar-outer">
				<div class="rating-bar-inner" style="{% if page.limits_score == 10 %} border-radius: 12px !important; {% endif %} width: {{ page.limits_width }}%; {% if page.limits_score >= 8.5 %} background: #2b8000; {% elsif page.limits_score < 8.5 and page.limits_score >= 7 %} background: #ace600; {% elsif page.limits_score < 7 and page.limits_score >= 5 %} background: #ffb41a; {% elsif page.limits_score < 5 and page.limits_score >= 2.5 %} background: #ff8080; {% elsif page.limits_score < 2.5 %} background: #ff1a1a; {% endif %}">
				</div>	
			</div>
		</div>
		
		<div class="speed-score single-rating">
			<div class="rating-title">Speed &nbsp;|&nbsp; <a href="#speed">Details  &#155;</a> <div class="score">{{ page.speed_score }}</div></div>
			<div class="rating-bar-outer">
				<div class="rating-bar-inner" style="{% if page.speed_score == 10 %} border-radius: 12px !important; {% endif %} width: {{ page.speed_width }}%; {% if page.speed_score >= 8.5 %} background: #2b8000; {% elsif page.speed_score < 8.5 and page.speed_score >= 7 %} background: #ace600; {% elsif page.speed_score < 7 and page.speed_score >= 5 %} background: #ffb41a; {% elsif page.speed_score < 5 and page.speed_score >= 2.5 %} background: #ff8080; {% elsif page.speed_score < 2.5 %} background: #ff1a1a; {% endif %}">
				</div>	
			</div>
		</div>
		
		<div class="reputation-score single-rating">
			<div class="rating-title">Reputation & Regulation &nbsp;|&nbsp; <a href="#reputation">Details  &#155;</a> <div class="score">{{ page.reputation_score }}</div></div>
			<div class="rating-bar-outer">
				<div class="rating-bar-inner" style="{% if page.reputation_score == 10 %} border-radius: 12px !important; {% endif %} width: {{ page.reputation_width }}%; {% if page.reputation_score >= 8.5 %} background: #2b8000; {% elsif page.reputation_score < 8.5 and page.reputation_score >= 7 %} background: #ace600; {% elsif page.reputation_score < 7 and page.reputation_score >= 5 %} background: #ffb41a; {% elsif page.reputation_score < 5 and page.reputation_score >= 2.5 %} background: #ff8080; {% elsif page.reputation_score < 2.5 %} background: #ff1a1a; {% endif %}">
				</div>	
			</div>
		</div>
		
		<div class="fees-score single-rating">
			<div class="rating-title">Fees &nbsp;|&nbsp; <a href="#fees">Details  &#155;</a> <div class="score">{{ page.fees_score }}</div></div>
			<div class="rating-bar-outer">
				<div class="rating-bar-inner" style="{% if page.fees_score == 10 %} border-radius: 12px !important; {% endif %} width: {{ page.fees_width }}%; {% if page.fees_score >= 8.5 %} background: #2b8000; {% elsif page.fees_score < 8.5 and page.fees_score >= 7 %} background: #ace600; {% elsif page.fees_score < 7 and page.fees_score >= 5 %} background: #ffb41a; {% elsif page.fees_score < 5 and page.fees_score >= 2.5 %} background: #ff8080; {% elsif page.fees_score < 2.5 %} background: #ff1a1a; {% endif %}">
				</div>	
			</div>
		</div>
		
	
	</div>
	
	{% if page.pro1 != null %}
	<div class="row">
	<div class="exchange-pros col-md-6">
	<div class="exchange-pros-title">Pros</div>
	{% endif %}
	
	{% if page.pro1 != null %}
	<li class="exchange-pro">{{ page.pro1 }}</li>
	{% endif %}
	{% if page.pro2 != null %}
	<li class="exchange-pro">{{ page.pro2 }}</li>
	{% endif %}
	{% if page.pro3 != null %}
	<li class="exchange-pro">{{ page.pro3 }}</li>
	{% endif %}
	
	{% if page.pro1 != null %}
	</div>
	{% endif %}
	
	{% if page.con1 != null %}
	<div class="exchange-pros col-md-6">
	<div class="exchange-pros-title">Cons</div>
	{% endif %}
	
	{% if page.con1 != null %}
	<li class="exchange-pro">{{ page.con1 }}</li>
	{% endif %}
	{% if page.con2 != null %}
	<li class="exchange-pro">{{ page.con2 }}</li>
	{% endif %}
	{% if page.con3 != null %}
	<li class="exchange-pro">{{ page.con3 }}</li>
	{% endif %}
	
	{% if page.con1 != null %}
	</div>
	</div>
	{% endif %}
	
	<a type="button" href="{{ page.website_url }}" rel="nofollow" target="_blank" class="btn exchange-btn-top btn-success"><i class="fa fa-bitcoin"></i> Buy Bitcoin at {{ page.title }}</a>
         
	{{ content }} 
	<a type="button" href="{{ page.website_url }}" rel="nofollow" target="_blank" class="btn exchange-btn-bottom btn-success"><i class="fa fa-bitcoin"></i> Visit {{ page.website }}</a>

</div>
</div>



<div class="row sidebar-add exchange-sidebar col-md-3">

<!-- <a type="button" href="https://github.com/BuyBitcoinWorldwide/buybitcoinworldwide.github.io/blob/master/_exchanges/{{ page.contribute }}.md" rel="nofollow" target="_blank" class="btn btn-primary"><i class="fa fa-pencil"></i> Improve this Page</a> -->

<div class="list-group vitals">
	 	      {% if page.location != null %}
	 		  <span class="list-group-item"><i class="fa fa-map-marker fa-fw"></i>&nbsp; {{ page.location }}</span>
	 	      {% endif %}
			  <a rel="nofollow" class="list-group-item" href="{{ page.website_url }}"><i class="fa fa-link fa-fw"></i>&nbsp; <span>{{ page.website }}</span></a>
			  {% if page.twitter != null %}
			  <a rel="nofollow" class="list-group-item" href="{{ page.twitter_url }}"><i class="fa fa-twitter fa-fw"></i>&nbsp; <span>@{{ page.twitter }}</span></a>
			  {% endif %}
			  {% if page.facebook != null %}
			  <a rel="nofollow" class="list-group-item" href="{{ page.facebook_url }}"><i class="fa fa-facebook fa-fw"></i>&nbsp; <span>{{ page.facebook }}</span></a>
			  {% endif %}
</div>

<a type="button" href="{{ page.website_url }}" rel="nofollow" target="_blank" class="btn btn-success"><i class="fa fa-bitcoin"></i> Buy Bitcoin at {{ page.title }}</a>

<div class="guides-exchange">
<h3>Guides</h3>
<ul>
	{% for article in site.data.guidessidebar %}
		<li>
			<a class="guide-link" href="{{ article.url }}">{{ article.title }}</a>	
		</li>
	{% endfor %}
</ul>
</div>

</div>	
	
</div>
