---
layout: default
hide_sidebar: false
---
{% assign wallet = site.data.wallets[page.wallet] %}
<div class="wallet-article {{ page.wallet }}">

<div class="breadcrumbs">
	<a href="/"><i class="fa fa-home"></i></a> &#155; 
	<a href="/wallets/">Bitcoin Wallets</a> &#155; 
	<strong>{{ page.title }}</strong>
	</div>	

<div class="row content-with-sidebar col-md-9">		
<div class="wallet-header-back">
	<div class="wallet-header {{ page.wallet }}">
		<div class="row">
		  <div class="col-xs-12">
		  <img class="wallet-logo" src="/img/hwpics/{{ page.pic }}">
		  <h1 class="ctitle"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
		 </div>
		</div>
	</div>
</div>

<div class="wallet-content {{ page.wallet }} entry-content">
	{% if page.pro1 != null %}
	<div class="row">
	<div class="exchange-pros col-md-6">
	<div class="exchange-pros-title">Pros</div>
	{% endif %}
	
	{% if page.pro1 != null %}
	<li class="exchange-pro">{{ page.pro1 }}</li>
	{% endif %}
	{% if page.pro2 != null %}
	<li class="exchange-pro">{{ page.pro2 }}</li>
	{% endif %}
	{% if page.pro3 != null %}
	<li class="exchange-pro">{{ page.pro3 }}</li>
	{% endif %}
	
	{% if page.pro1 != null %}
	</div>
	{% endif %}
	
	{% if page.con1 != null %}
	<div class="exchange-pros col-md-6">
	<div class="exchange-pros-title">Cons</div>
	{% endif %}
	
	{% if page.con1 != null %}
	<li class="exchange-pro">{{ page.con1 }}</li>
	{% endif %}
	{% if page.con2 != null %}
	<li class="exchange-pro">{{ page.con2 }}</li>
	{% endif %}
	{% if page.con3 != null %}
	<li class="exchange-pro">{{ page.con3 }}</li>
	{% endif %}
	
	{% if page.con1 != null %}
	</div>
	</div>
	{% endif %}
   
   <a type="button" href="{{ page.buy_url }}" rel="nofollow" target="_blank" class="btn exchange-btn-top btn-success"><i class="fa fa-bitcoin"></i> Buy a {{ page.title }}</a>
   
    {{ content }} 
    
    <a type="button" href="{{ page.buy_url }}" rel="nofollow" target="_blank" class="btn exchange-btn-bottom btn-success"><i class="fa fa-bitcoin"></i> Buy a {{ page.title }}</a>
    <br>
    <script type="text/javascript">
amzn_assoc_placement = "adunit0";
amzn_assoc_search_bar = "false";
amzn_assoc_tracking_id = "cldhdw-20";
amzn_assoc_ad_mode = "manual";
amzn_assoc_ad_type = "smart";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_title = "";
amzn_assoc_linkid = "789cbf2c8f872cd7a35fb006d69be55b";
amzn_assoc_asins = "B0143M2A5S,B00UA47IIS,B00R6MKDDE,B00R6LSAZI";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
    
	</div>
</div>
</div>

<div class="row sidebar-add exchange-sidebar col-md-3">
{% include sidebar.html %}
</div>	