---
layout: default
hide_sidebar: true
---
{% assign wallet = site.data.wallets[page.wallet] %}
<div class="wallet-article {{ page.wallet }}">

<div class="breadcrumbs">
	<a href="/"><i class="fa fa-fw fa-home"></i>Buy Bitcoin Worldwide</a> &#155; 
	<a href="/wallets/">Wallets</a> &#155; 
	<strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
	</div>	
	
<div class="wallet-header-back">
<div class="wallet-header {{ page.wallet }}">
	<div class="row">
	  <div class="col-xs-12">
	  <img class="wallet-logo" src="{{ "/img/wallets/" | prepend: site.baseurl }}{{ page.thumb }}">
	  <h1 class="ctitle"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
	 <div class="wallet-info"> 
	 	<div class="wallet-info-link"><i class="fa fa-fw fa-link fa-lg"></i> <a rel="nofollow" href="{{ wallet.website_url }}">{{ wallet.website }}</a></div>
	 	{% if wallet.mobile_wallet == true %}
	 	<div class="wallet-info-link"><i class="fa fa-fw fa-mobile fa-lg"></i> Mobile Wallet</div>
	 	{% endif %}
	 	{% if wallet.web_wallet == true %}
	 	<div class="wallet-info-link"><i class="fa fa-fw fa-globe fa-lg"></i> Web Wallet</div>
	 	{% endif %}
	 	{% if wallet.hardware_wallet == true %}
	 	<div class="wallet-info-link"><i class="fa fa-fw fa-key fa-lg"></i> Hardware Wallet</div>
	 	{% endif %}
	 	{% if wallet.desktop_wallet == true %}
	 	<div class="wallet-info-link"><i class="fa fa-fw fa-desktop fa-lg"></i> Desktop Wallet</div>
	 	{% endif %}
	 	{% if wallet.open_source == true %}
	 	<div class="wallet-info-link"><i class="fa fa-fw fa-github fa-lg"></i> <a href="{{ wallet.open_source_url }}">Open Source</a></div>
	 	{% endif %}
	 </div>
	 </div>
	</div>
</div>
</div>
<div class="wallet-content {{ page.wallet }} entry-content">
            <! -- Blog Post  -->
            <div class="list-group vitals">
			  {% if wallet.control_priv_keys == true %}
			  <span class="list-group-item bg-success"><i class="fa fa-key fa-fw"></i>&nbsp; <span>User controls private keys</span></span>
			  {% endif %}
			  {% if wallet.shared_control_priv_keys == true %}
			  <span class="list-group-item bg-success"><i class="fa fa-key fa-fw"></i>&nbsp; <span>Shared control of private keys</span></span>
			  {% endif %}
			  {% if wallet.control_priv_keys == false %}
			  <span class="list-group-item bg-danger"><i class="fa fa-key fa-fw"></i>&nbsp; <span>User does not control private keys</span></span>
			  {% endif %}
			  {% if wallet.create == true %}
	 	<a rel="nofollow" class="list-group-item" href="{{ wallet.create_url }}"><i class="fa fa-sign-in fa-fw"></i>&nbsp; <span>Create Wallet</span></a>
	 	      {% endif %}
	 	      {% if wallet.buy == true %}
	 	<a rel="nofollow" class="list-group-item" href="{{ wallet.buy_url }}"><i class="fa fa-shopping-cart fa-fw"></i>&nbsp; <span>Buy</span></a>
	 	      {% endif %}
	 	      {% if wallet.download_desktop == true %}
			  <a rel="nofollow" class="list-group-item" href="{{ wallet.download_desktop_url }}"><i class="fa fa-download fa-fw"></i>&nbsp; <span>Download</span></a>
			  {% endif %}
			  {% if wallet.download_android == true %}
			  <a rel="nofollow" class="list-group-item" href="{{ wallet.download_android_url }}"><i class="fa fa-download fa-fw"></i>&nbsp; <span>Download (Android)</span></a>
			  {% endif %}
			  {% if wallet.download_ios == true %}
			  <a rel="nofollow" class="list-group-item" href="{{ wallet.download_ios_url }}"><i class="fa fa-download fa-fw"></i>&nbsp; <span>Download (iOS)</span></a>
			  {% endif %}
			  <a rel="nofollow" class="list-group-item" href="https://github.com/BuyBitcoinWorldwide/buybitcoinworldwide.github.io/blob/master/_wallets/{{ wallet.contribute }}.md"><i class="fa fa-pencil fa-fw"></i>&nbsp; <span>Contribute to this page</span></a>
			</div>
            {{ content }} 
</div><! --/container -->
	
	
</div>
