---
title: شراء بيتكوين في البرازيل 
seotitle: شراء بيتكوين في البرازيل | شركات الصرافة والوسطاء
permalink: /ar/البرازيل/
layout: country
lang: ar
country: br
desc: معرفة أماكن شراء بيتكوين في البرازيل وكيفية ذلك. الدليل الكامل لمكاتب الصرافة، والسماسرة، وماكينات الصراف الآلي التي تقبل عددًا من وسائل الدفع.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'br' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}