---
title: شراء بيتكوين  في كولومبيا 
seotitle: شراء بيتكوين  في كولومبيا | شركات الصرافة والوسطاء
permalink: /ar/كولومبيا/
layout: country
lang: ar
country: co
desc: معرفة أماكن شراء بيتكوين في كولومبيا وكيفية ذلك. الدليل الكامل لمكاتب الصرافة، والسماسرة، وماكينات الصراف الآلي التي تقبل عددًا من وسائل الدفع.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'co' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}