---
title: شراء بيتكوين في العراق 
seotitle: شراء بيتكوين في العراق | شركات الصرافة والوسطاء
permalink: /ar/العراق/
layout: country
lang: ar
country: iq
desc: معرفة أماكن شراء بيتكوين في العراق وكيفية ذلك. الدليل الكامل لمكاتب الصرافة، والسماسرة، وماكينات الصراف الآلي التي تقبل عددًا من وسائل الدفع.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'iq' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}