---
title: شراء بيتكوين في الأردن 
seotitle: شراء بيتكوين في الأردن | شركات الصرافة والوسطاء
permalink: /ar/الأردن/
layout: country
lang: ar
country: jo
desc: معرفة أماكن شراء بيتكوين في الأردن وكيفية ذلك. الدليل الكامل لمكاتب الصرافة، والسماسرة، وماكينات الصراف الآلي التي تقبل عددًا من وسائل الدفع.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'jo' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}