---
title: شراء بيتكوين في المملكة العربية السعودية 
seotitle: شراء بيتكوين في المملكة العربية السعودية | شركات الصرافة والوسطاء
permalink: /ar/السعودية/
layout: country
lang: ar
country: sa
desc: معرفة أماكن شراء بيتكوين في المملكة العربية السعودية. الدليل الكامل لمكاتب الصرافة، والسماسرة، وماكينات الصراف الآلي التي تقبل عددًا من وسائل الدفع.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'sa' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}