---
title: شراء بيتكوين في المملكة المتحدة 
seotitle: شراء بيتكوين في المملكة المتحدة | شركات الصرافة والوسطاء
permalink: /ar/المملكة_المتحدة/
layout: country
lang: ar
country: gb
desc: معرفة أماكن شراء بيتكوين في المملكة المتحدة وكيفية ذلك. الدليل الكامل لمكاتب الصرافة، والسماسرة، وماكينات الصراف الآلي التي تقبل عددًا من وسائل الدفع.  
---
{% include country-loops.html %}
{% include buy-list-header.html %}
{% for name in site.data.buy %}
{% if name.countries contains 'gb' %}
{% include buy-list-en.html %}
{% endif %}
{% endfor %}